.sp-sidebar-menu-notification {
  position: absolute;
  margin-left: -10px;
  margin-top: -5px;
}

.sp-sidebar-menu-item-subtitle {
  font-size: 65%;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
  margin-right: 10px;
}