@import "../../../../styles-variables";

.sp-sidebar-menu-notification {
  position: absolute;
  margin-left: -10px;
  margin-top: -5px;
}

.sp-sidebar-menu-item-subtitle {
  font-size: 65%;
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
  margin-right: 10px;
}

/* Emulate bootstrap list group styles */
.sp-list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-top: 0;
}

.sp-list-group-item {
  position: relative;
  display: block;
  padding: 10px 18px;
  border-bottom: 1px solid $sp-color-on-background-low;
}

.sp-list-item-overlay {
  background-color: transparent;
  position: absolute;
  height: 100%;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  &:hover {
    background-color: $sp-color-overlay-hover;
  }
}
