<ul class="sp-list-group">
  <li
  *ngFor="let menuItem of sidebarMenuModel.items"
  [ngClass]="{ 'sp-bg-08': menuItem.active, 'disabled': menuItem.disabled, 'sp-bg-07': !menuItem.active }"
  (click)="runMenuAction(menuItem)"
  class="sp-list-group-item sp-text-large">
    <i [ngClass]="menuItem.icon"></i>
    <span>&nbsp;&nbsp;</span><span>{{menuItem.caption}}</span>
    <i *ngIf="menuItem.isNew" class="mdi mdi-vanish-quarter mdi-rotate-90 sp-sidebar-menu-notification"></i>
    <div *ngIf="menuItem.subtitle" class="sp-sidebar-menu-item-subtitle">{{menuItem.subtitle}}</div>
    <div class="sp-list-item-overlay"></div>
  </li>
</ul>