@import "../../../styles-variables";

$sp-play-pause-size: 42px;

.sp-player-td-image {
    width: $sp-player-height-sm;
}

.sp-player-small-progress {
    top: 0; // this will place it right at the top edge of the player
    height: 1px;
    position: absolute;
    background-color: $sp-color-primary;
}

.sp-table-loading-image {
    display: block;
}

.sp-player-td-info {
    padding-left: 5px;
    line-height: 1.4;
}

.sp-td-play-control {
    width: $sp-play-pause-size;
    text-align: center;
    padding: 0;
}

.sp-play-count {
    vertical-align: super;
}

.sp-player-shadow {
    // box-shadow: [h-offset v-offset blur color]
    box-shadow: 0px -10px 15px $sp-dim-black-high;
}

.sp-play-pause {
    width: $sp-play-pause-size;
    height: $sp-play-pause-size;
}

.sp-play-pause-button {
    border-radius: 50%;
    margin: 0 auto; // this will horizontally center div in the td
}

.sp-play-pause-icon {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    line-height: $sp-play-pause-size;
}