<div class="sp-player-small-height sp-player-shadow">
  <table *ngIf="model.playerList.current && model.playerList.current.song" class="sp-full-width sp-full-height sp-table sp-table-support-overflow-ellipsis">
    <tr>
      <!-- Image and PB -->
      <td class="sp-player-td-image">
        <div class="sp-player-small-progress" [style.width.%]="model.elapsedPercentage"></div>
        <img [src]="song.image.src ? song.image.src : song.image.defaultSrc" class="sp-table-loading-image sp-full-height sp-full-width">
      </td>
      <!-- Info -->
      <td class="sp-player-td-info sp-cursor-pointer sp-text-overflow-ellipsis" (click)="onSongInfoClick()">
        <span class="sp-text-medium">{{song.name}}</span>
        <span class="sp-text-tiny sp-play-count">&nbsp;{{song.playCountText}}</span>
        <br>
        <span class="sp-text-small text-muted">{{song.artistName}} · {{song.albumWithYear}}</span>
      </td>
      <!-- Back -->
      <td (click)="onPrevious()" class="sp-td-play-control">
        <i [ngClass]="AppPlayerIcons.Previous" class="sp-text-big-fixed"></i>
      </td>
      <!-- Play/Pause -->
      <td (click)="onPlayPause()" class="sp-td-play-control">
          <div class="sp-play-pause sp-play-pause-button sp-bg-09">
            <i *ngIf="model.status !== PlayerStatus.Playing && !model.isLoading" class="mdi-play mdi sp-play-pause sp-play-pause-icon sp-text-big-fixed"></i>
            <i *ngIf="model.status !== PlayerStatus.Playing && model.isLoading" class="mdi-loading mdi mdi-spin sp-color-playing sp-play-pause sp-play-pause-icon sp-text-big-fixed"></i>
            <i *ngIf="model.status === PlayerStatus.Playing" class="mdi-pause mdi sp-color-playing sp-play-pause sp-play-pause-icon sp-text-big-fixed"></i>
          </div>
      </td>
      <!-- Forward -->
      <td (click)="onNext()" class="sp-td-play-control">
        <i [ngClass]="AppPlayerIcons.Next" class="sp-text-big-fixed"></i>
      </td>
      <!-- Menu -->
      <td class="sp-td-play-control sp-text-xlarge-fixed">
        <sp-icon-menu [items]="menuList"></sp-icon-menu>
      </td>
    </tr>
  </table>
</div>