<div class="sp-settings-container">
  <!-- Placeholder -->
  <div style="height: 15px;"></div>
  <ng-container *ngFor="let settingCategory of settingsInfo">
    <!-- Category -->
    <p class="sp-text-big sp-color-primary sp-font-family-small-caps">{{settingCategory.name}}</p>
    <!-- Setting -->
    <div
    *ngFor="let setting of settingCategory.settings"
    class="sp-setting sp-bg-04"
    [ngClass]="{ 'sp-clickable': setting.action && !setting.disabled, 'sp-color-on-bg-low': setting.disabled }"
    (click)="onSettingClick(setting)">
      <!-- Header -->
      <p class="sp-text-xlarge">
        <i *ngIf="setting.icon && !setting.running" [ngClass]="setting.icon">&nbsp;</i>
        <i *ngIf="setting.running" class="mdi-loading mdi-spin mdi">&nbsp;</i>
        <span>{{setting.name}}</span>
      </p>
      <!-- Descriptions -->
      <p *ngFor="let description of setting.descriptions" class="sp-text-medium" [innerHtml]="description"></p>
      <!-- Dynamic Text -->
      <p *ngIf="setting.dynamicText" class="sp-text-medium sp-text-overflow-ellipsis" [innerText]="setting.dynamicText"></p>
      <!-- Warning Text -->
      <p *ngIf="setting.warningText" class="sp-text-medium sp-color-warning" [innerText]="setting.warningText"></p>
      <!-- Error Text -->
      <p *ngIf="setting.errorText" class="sp-text-medium sp-color-error" [innerText]="setting.errorText"></p>
    </div>
  </ng-container>
</div>