<div class="sp-settings-container">
  <!-- Placeholder -->
  <div style="height: 15px;"></div>
  <ng-container *ngFor="let settingCategory of settingsInfo">
    <!-- Category -->
    <p class="sp-text-big sp-color-primary sp-font-family-small-caps">{{settingCategory.name}}</p>
    <div
    *ngFor="let setting of settingCategory.settings"
    class="sp-setting sp-font-family-regular sp-bg-04"
    [ngClass]="{ 'sp-clickable': setting.action && !setting.disabled, 'sp-color-on-bg-low': setting.disabled }"
    (click)="onSettingClick(setting)">
      <!-- Header -->
      <p class="sp-text-xlarge">{{setting.name}}</p>
      <!-- Descriptions -->
      <p *ngFor="let description of setting.descriptions" class="sp-text-medium">{{description}}</p>
      <!-- Dynamic Text -->
      <p *ngIf="setting.dynamicText" class="sp-text-medium">{{setting.dynamicText}}</p>
    </div>
  </ng-container>
</div>