<div class="sp-settings-container sp-font-family-regular">
  <ng-container *ngFor="let settingCategory of settingsInfo">
    <!-- Category -->
    <p class="sp-text-big sp-color-primary">{{settingCategory.name}}</p>
    <div
    *ngFor="let setting of settingCategory.settings"
    class="sp-setting"
    [ngClass]="{ 'sp-clickable': setting.action && !setting.disabled, 'sp-color-on-bg-low': setting.disabled }"
    (click)="onSettingClick(setting)">
      <!-- Header -->
      <p class="sp-text-xlarge">{{setting.name}}</p>
      <!-- Descriptions -->
      <p *ngFor="let description of setting.descriptions" class="sp-text-medium">{{description}}</p>
      <!-- Dynamic Text -->
      <p *ngIf="setting.dynamicText" class="sp-text-medium">{{setting.dynamicText}}</p>
    </div>
  </ng-container>
  <sp-transition-image style="width: 500px; height: 500px; display: flex;" [defaultSrc]="DefaultImageSrc.Medium" [transitionSrc]="transitionSrc"></sp-transition-image>
</div>