@import "../../../styles-variables";

.sp-settings-container {
  padding-left: 10px;
  padding-right: 10px;
}

.sp-setting {
  border: 0px solid $sp-color-on-background-separator;
  border-bottom-width: 1px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
}

.sp-setting-secondary-icon {
  float: right;
}