@font-face {
  font-family: 'Saira Semi Condensed';
  src: url('./SairaSemiCondensed/SairaSemiCondensed-Regular.woff2') format('woff2'),
       url('./SairaSemiCondensed/SairaSemiCondensed-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saira Extra Condensed';
  src: url('./SairaExtraCondensed/SairaExtraCondensed-Thin.woff2') format('woff2'),
      url('./SairaExtraCondensed/SairaExtraCondensed-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Digital-7Mono';
  src: url('./Digital-7Mono/Digital-7Mono.woff2') format('woff2'),
      url('./Digital-7Mono/Digital-7Mono.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Anoxic SC Med';
  src: url('./AnoxicSC-Medium/AnoxicSC-Medium.woff2') format('woff2'),
      url('./AnoxicSC-Medium/AnoxicSC-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}