@import "../../../styles-variables";

.sp-tr-navbar {
  height: $sp-navbar-height;
}

.sp-td-navbar-icon {
  width: 42px;
  text-align: center;
}

.sp-tr-song-info {
  height: 80px;
  text-align: center;
}

.sp-play-count {
  vertical-align: super;
}

.sp-tr-toolbar {
  height: 50px;
}

.sp-td-img {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.sp-img-container {
  position: relative;
}

.sp-img {
  object-fit: contain;
  position: absolute;
}

.sp-td-toolbar {
  text-align: center;
  border-top: 1px solid $sp-color-overlay-01;
}

.sp-td-progress-bar {
  padding-left: 5px;
  padding-right: 5px;
}

.sp-tr-time-slider {
  height: 30px;
}

.sp-progress-bar {
  appearance: none;
  height: 4px;
  vertical-align: inherit;
}

.sp-progress-bar::-webkit-progress-bar {
  background-color: $sp-color-overlay-01;
  border-radius: 2px;
}

.sp-progress-bar::-webkit-progress-value {
  background-color: $sp-color-on-background;
  border-radius: 2px;
}

.sp-tr-play-controls {
  height: 100px;
  text-align: center;
}

.sp-td-play-control {
  width: 20%;
}

.sp-play-pause {
  height: 80px;
  width: 80px;
}

.sp-play-pause-button {
  border-radius: 50%;
  background-color: $sp-color-overlay-01;
  margin: 0 auto; // this will horizontally center div in the td
}

.sp-play-pause-icon {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.sp-player-overlay {
  color: $sp-color-on-background;
  background-color: $sp-dim-black-mid;
}