<table
*ngIf="model && model.playerList && model.playerList.current"
class="sp-full-height sp-full-width sp-table sp-table-no-padding sp-table-support-overflow-ellipsis">
  <!-- Navbar -->
  <tr class="sp-tr-navbar">
    <!-- Collapse button -->
    <td class="sp-td-navbar-icon sp-text-xlarge-fixed" (click)="onCollapseClick()">
      <i
      class="mdi-chevron-down mdi sp-cursor-pointer"
      [ngStyle]="palette.secondary.cssColor"></i>
    </td>
    <!-- Middle content -->
    <td>
      <table class="sp-table sp-table-no-padding sp-full-width sp-full-height"><tr>
        <!-- Playlist name -->
        <td class="sp-text-overflow-ellipsis">
          <i
          (click)="togglePlaylist()"
          class="mdi sp-text-xlarge-fixed sp-navbar-content-height sp-cursor-pointer"
          [ngClass]="model.playerList.isVisible ? AppAttributeIcons.Image : AppPlayerIcons.Queue"
          [ngStyle]="palette.secondary.cssColor"></i>
          <i
          (click)="onToggleAnimation()"
          class="mdi sp-text-xlarge-fixed sp-navbar-content-height sp-cursor-pointer"
          *ngIf="animatedImage"
          [ngClass]="animatedImageVisible ? AppAttributeIcons.VideoOff : AppAttributeIcons.ImageAnimated"
          [ngStyle]="palette.secondary.cssColor"></i>
          <span
          class="sp-text-large sp-navbar-content-height" style="vertical-align: top;"
          [ngStyle]="palette.primary.cssColor">&nbsp;{{model.playerList.name}}</span>
          <span
          class="sp-text-medium sp-navbar-content-height sp-float-right"
          [ngStyle]="palette.primary.cssColor">{{model.playerList.current.sequence}}/{{model.playerList.items.length}}</span>
        </td>
      </tr></table>
    </td>
    <!-- Menu -->
    <td class="sp-td-navbar-icon sp-text-xlarge-fixed" [ngStyle]="palette.secondary.cssColor">
      <sp-icon-menu [items]="menuList" [context]="model.playerList.current.song"></sp-icon-menu>
    </td>
  </tr>
  <!-- Image / Playlist / Lyrics -->
  <tr>
    <td colspan="3" class="sp-td-img">
      <div class="sp-img-container sp-flex-center sp-full-height sp-full-width" spResizeObserver (spResized)="onImageContainerResized($event)">
        <!-- Image -->
        <img
        #picture
        *ngIf="image && !model.playerList.isVisible"
        [ngClass]="{ 'sp-invisible': imageControlsEnabled }"
        (click)="onImageClick($event)"
        (load)="onImageLoad()"
        [src]="image.src"
        [style.width.px]="imageSize.width"
        [style.height.px]="imageSize.height"
        class="sp-img">
        <!-- Canvas (for image controls) -->
        <!-- Note that we set the canvas size as well as the element size -->
        <canvas
        *ngIf="image && !model.playerList.isVisible"
        spEyeDropper
        [eyeDropperTableId]="'tableEyeDropper'"
        [eyeDropperHoverId]="'divHoverColor'"
        (eyeDropperColorSelected)="onColorSelected($event)"
        class="sp-img sp-cursor-eye"
        [ngClass]="{ 'sp-invisible': !imageControlsEnabled }"
        [width]="imageSize.width"
        [height]="imageSize.height"
        [style.width.px]="imageSize.width"
        [style.height.px]="imageSize.height"></canvas>
        <!-- Lyrics overlay (hack: one more pixel that solves the blurry text and aligns with the image) -->
        <div
        *ngIf="lyricsOverlayEnabled && !model.playerList.isVisible"
        class="sp-img sp-bg-dim-black-mid"
        [style.width.%]="100"
        [style.height.px]="imageSize.height + 1">
          <sp-text-scroller
          (close)="lyricsOverlayEnabled = false"
          [text]="song.lyrics"
          [palette]="palette">
          </sp-text-scroller>
        </div>
        <!-- Playlist -->
        <div
        *ngIf="model.playerList.isVisible"
        [style.height.px]="imageSize.height"
        class="sp-playlist-container sp-scrollbar-hidden">
          <sp-track-list [items]="model.playerList.items" (trackClick)="onTrackClick($event)"></sp-track-list>
        </div>
        <!-- Animated Album Art -->
        <video autoplay loop
        *ngIf="animatedImage && animatedImageVisible"
        [style.width.px]="imageSize.width"
        [style.height.px]="imageSize.height"
        class="sp-img-animated">
          <source [src]="animatedImage.src" type="video/mp4">
        </video>
      </div>
    </td>
  </tr>
  <!-- Song Info -->
  <tr class="sp-tr-song-info">
    <td colspan="3" class="sp-td-song-info sp-text-overflow-ellipsis" [attr.style]="getEllipsisColorVar()">
      <!-- Title and Song Count -->
      <i *ngIf="song.explicit" [ngClass]="AppAttributeIcons.ExplicitOn" class="sp-text-xlarge" [ngStyle]="palette.secondary.cssColor"></i>
      <i [ngClass]="AppAttributeIcons.SongName" class="sp-text-xlarge" [ngStyle]="palette.secondary.cssColor"></i>
      <span
      class="sp-text-xlarge sp-text-bold"
      [ngStyle]="palette.primary.cssColor">{{song.cleanName}}</span>
      <span
      *ngIf="song.playCount > 0"
      class="sp-text-small sp-play-count"
      [ngStyle]="palette.secondary.cssColor">&nbsp;{{song.playCount}}</span>
      <br>
      <!-- Artists -->
      <ng-container *ngIf="song.primaryArtistId !== EntityId.ArtistVarious">
        <i [ngClass]="AppAttributeIcons.ArtistName" class="sp-text-large" [ngStyle]="palette.secondary.cssColor"></i>
        <span
        class="sp-text-large"
        [ngStyle]="palette.primary.cssColor">&nbsp;{{song.primaryArtistName}}</span>
      </ng-container>
      <ng-container *ngIf="song.primaryArtistId === EntityId.ArtistVarious && !contributors">
        <i [ngClass]="AppAttributeIcons.ArtistGroup" class="sp-text-large" [ngStyle]="palette.secondary.cssColor"></i>
        <span
        class="sp-text-large"
        [ngStyle]="palette.primary.cssColor">&nbsp;{{song.primaryArtistName}}</span>
      </ng-container>
      <ng-container *ngIf="song.primaryArtistId !== EntityId.ArtistVarious && contributors">
        <span>&nbsp;&nbsp;</span>
      </ng-container>
      <ng-container *ngIf="contributors">
        <i [ngClass]="AppAttributeIcons.Contributor" class="sp-text-large" [ngStyle]="palette.secondary.cssColor"></i>
        <span
        class="sp-text-large"
        [ngStyle]="palette.primary.cssColor">&nbsp;{{contributors}}</span>
      </ng-container>
      <br>
      <!-- Album -->
      <i [ngClass]="AppAttributeIcons.AlbumName" class="sp-text-large" [ngStyle]="palette.secondary.cssColor"></i>
      <span
      class="sp-text-large"
      [ngStyle]="palette.primary.cssColor">&nbsp;{{song.primaryAlbumName}}</span>
      <!-- Year -->
      <ng-container *ngIf="song.releaseYear > 0">
        <span>&nbsp;&nbsp;</span>
        <i [ngClass]="AppAttributeIcons.Year" class="sp-text-large" [ngStyle]="palette.secondary.cssColor"></i>
        <span
        class="sp-text-large"
        [ngStyle]="palette.primary.cssColor">&nbsp;{{song.releaseYear}}</span>
      </ng-container>
      <br>
      <!-- Genre -->
      <ng-container *ngIf="song.genre">
        <i [ngClass]="AppAttributeIcons.GenreName" class="sp-text-small" [ngStyle]="palette.secondary.cssColor"></i>
        <span
        class="sp-text-small"
        [ngStyle]="palette.primary.cssColor">&nbsp;{{song.genre}}&nbsp;&nbsp;</span>
      </ng-container>
      <!-- Time -->
      <i [ngClass]="AppAttributeIcons.Duration" class="sp-text-small" [ngStyle]="palette.secondary.cssColor"></i>
      <span
        class="sp-text-small"
        [ngStyle]="palette.primary.cssColor">&nbsp;{{song.duration}}&nbsp;&nbsp;</span>
      <!-- File Info -->
      <ng-container *ngIf="fileInfoVisible">
        <i [ngClass]="AppAttributeIcons.FileInfo" class="sp-text-small" [ngStyle]="palette.secondary.cssColor"></i>
        <span
        class="sp-text-small sp-text-capitalize"
        [ngStyle]="palette.primary.cssColor">&nbsp;{{getFileInfo()}}</span>
      </ng-container>
    </td>
  </tr>
  <!-- Footer -->
  <tr class="sp-tr-footer sp-player-overlay">
    <td colspan="3" class="sp-footer-outline">
      <!-- Song Controls -->
      <table *ngIf="!imageControlsEnabled" class="sp-table sp-table-no-padding sp-full-height sp-full-width">
        <!-- Song Toolbar -->
        <tr class="sp-tr-song-toolbar">
          <td colspan="3" class="sp-td-toolbar sp-full-width sp-text-big">
            <table class="sp-table sp-full-width">
              <tr>
                <!-- Link icon -->
                <td>
                  <i
                  (click)="toggleLive()"
                  class="sp-cursor-pointer"
                  [ngClass]="song.live ? AppAttributeIcons.LiveOn : AppAttributeIcons.LiveOff"></i>
                </td>
                <!-- Lyrics icon -->
                <td>
                  <i
                  class="sp-cursor-pointer"
                  (click)="toggleLyrics()"
                  [ngClass]="song.lyrics ? AppAttributeIcons.LyricsOn : AppAttributeIcons.LyricsOff"></i>
                </td>
                <!-- Rating icon -->
                <td>
                  <sp-rating
                  (change)="onRatingChange($event, song)"
                  [(ngModel)]="song.rating"
                  [classOff]="'sp-color-overlay-02'"
                  [classBack]="'sp-bg-dim-black-high'">
                  </sp-rating>
                </td>
                <!-- Mood icon -->
                <td>
                  <i
                  class="sp-cursor-pointer"
                  (click)="onMoodClick(song)"
                  [ngClass]="song.mood && song.mood !== 'Unknown' ? AppAttributeIcons.MoodOn : AppAttributeIcons.MoodOff"></i>
                </td>
                <!-- Favorite icon -->
                <td>
                  <i
                  class="sp-cursor-pointer"
                  (click)="onFavoriteClick(song)"
                  [ngClass]="song.favorite ? AppAttributeIcons.FavoriteOn : AppAttributeIcons.FavoriteOff"></i>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- Time Slider -->
        <tr class="sp-tr-time-slider"><td colspan="3"><table class="sp-table"><tr>
          <!-- Elapsed -->
          <td
          (click)="adjustTimeDown()"
          class="sp-td-nav-bar-icon sp-text-xlarge sp-text-center sp-clickable">
            <sp-time-display
            class="sp-time-text"
            [blinkEnabled]="model.status === PlayerStatus.Paused"
            [totalSeconds]="model.elapsedSeconds"
            [placeholderClass]="'sp-color-overlay-02'"
            [hoursHidden]="true">
            </sp-time-display>
          </td>
          <!-- Progress Bar -->
          <td class="sp-td-progress-bar sp-full-width">
            <div class="sp-progress-back">
              <div class="sp-progress-front" [style.width.%]="model.elapsedPercentage"></div>
            </div>
          </td>
          <!-- Remaining -->
          <td
          (click)="adjustTimeUp()"
          class="sp-td-nav-bar-icon sp-text-xlarge sp-text-center sp-clickable">
            <sp-time-display
            class="sp-time-text"
            [totalSeconds]="song.seconds - model.elapsedSeconds"
            [placeholderClass]="'sp-color-overlay-02'"
            [hoursHidden]="true">
            </sp-time-display>
          </td>
        </tr></table></td></tr>
        <!-- Play Controls -->
        <tr class="sp-tr-play-controls">
          <td colspan="3">
            <table class="sp-full-width">
              <tr>
                <td class="sp-td-play-control sp-text-big-fixed">
                  <i *ngIf="model.playerList.play === PlayMode.Sequence" class="mdi-shuffle-disabled mdi"></i>
                  <i *ngIf="model.playerList.play === PlayMode.Random" class="mdi-shuffle mdi"></i>
                </td>
                <td class="sp-td-play-control sp-text-big-fixed">
                  <div (click)="onPrevious()" class="sp-player-button sp-back-forward">
                    <i class="mdi-skip-previous mdi sp-player-icon sp-back-forward"></i>
                  </div>
                </td>
                <td class="sp-td-play-control sp-text-huge-fixed">
                  <div (click)="onPlayPause()" class="sp-play-pause sp-player-button">
                      <i *ngIf="model.status !== PlayerStatus.Playing" class="mdi-play mdi sp-play-pause sp-player-icon"></i>
                      <i *ngIf="model.status === PlayerStatus.Playing" class="mdi-pause mdi sp-play-pause sp-player-icon"></i>
                  </div>
                </td>
                <td class="sp-td-play-control sp-text-big-fixed">
                  <div (click)="onNext()" class="sp-player-button sp-back-forward">
                    <i class="mdi-skip-next mdi sp-player-icon sp-back-forward"></i>
                  </div>
                </td>
                <td class="sp-td-play-control sp-text-big-fixed">
                  <i *ngIf="model.playerList.repeat === RepeatMode.All" class="mdi-repeat mdi"></i>
                  <i *ngIf="model.playerList.repeat === RepeatMode.One" class="mdi-repeat-once mdi"></i>
                  <i *ngIf="model.playerList.repeat === RepeatMode.Disabled" class="mdi-repeat-off mdi"></i>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <!-- Image Controls -->
      <table *ngIf="imageControlsEnabled" class="sp-table sp-full-height sp-full-width" style="table-layout: fixed;">
        <!-- Image Toolbar -->
        <tr class="sp-tr-image-toolbar">
          <td><i class="mdi-undo-variant mdi sp-text-big sp-cursor-pointer" (click)="onToolbarReset()"></i></td>
          <td><i class="mdi-chevron-left mdi sp-text-big sp-cursor-pointer" [ngClass]="{ 'sp-color-item-disabled': images.length < 2 }" (click)="onToolbarBack($event)"></i></td>
          <td><span *ngIf="image" class="sp-text-large">{{image.imageType.toUpperCase()}}</span></td>
          <td><i class="mdi-chevron-right mdi sp-text-big sp-cursor-pointer" [ngClass]="{ 'sp-color-item-disabled': images.length < 2 }" (click)="onToolbarNext($event)"></i></td>
          <td>
            <i *ngIf="!isLoadingPalette" (click)="onImageControlsClose($event)" [ngClass]="AppActionIcons.CloseClear" class="sp-text-big sp-cursor-pointer"></i>
            <i *ngIf="isLoadingPalette" [ngClass]="AppActionIcons.Loading" class="sp-text-big"></i>
          </td>
        </tr>
        <!-- Colors -->
        <tr>
          <td colspan="5">
            <div class="sp-colors-container sp-full-height sp-full-width sp-text-xlarge">
              <!-- Eye Dropper -->
              <table id="tableEyeDropper" class="sp-table-eye-dropper sp-player-eye-dropper"></table>
              <div class="sp-full-height sp-full-width">
                <!-- Hover Color -->
                <div class="sp-color-bar" >
                  <i class="mdi-bullseye mdi sp-color-icon"></i>
                  <div id="divHoverColor" class="sp-full-height sp-full-width sp-color-bar-outline"></div>
                </div>
                <!-- Selected Color -->
                <div class="sp-color-bar">
                  <i class="mdi-cursor-default-click-outline mdi sp-color-icon"></i>
                  <div class="sp-full-height sp-full-width sp-color-bar-outline sp-clickable sp-ease-background-color-1" (click)="onSelectedColorClick()" [ngStyle]="colorSelected.cssBgColor"></div>
                </div>
                <!-- Palette -->
                <div class="sp-color-palette sp-color-bar">
                  <div class="sp-full-height sp-color-bar-small">
                    <i class="mdi-alpha-b-box-outline mdi sp-color-icon"></i>
                    <div
                    (click)="onBackgroundColorClick()"
                    class="sp-full-height sp-full-width sp-clickable sp-color-bar-outline sp-ease-background-color-1"
                    [ngStyle]="palette.background.cssBgColor"></div>
                  </div>
                  <div class="sp-full-height sp-color-bar-small">
                    <i class="mdi-numeric-1-box-outline mdi sp-color-icon"></i>
                    <div
                    (click)="onPrimaryColorClick()"
                    class="sp-full-height sp-full-width sp-clickable sp-color-bar-outline sp-ease-background-color-1"
                    [ngStyle]="palette.primary.cssBgColor"></div>
                  </div>
                  <div class="sp-full-height sp-color-bar-small">
                    <i class="mdi-numeric-2-box-outline mdi sp-color-icon"></i>
                    <div
                    (click)="onSecondaryColorClick()"
                    class="sp-full-height sp-full-width sp-clickable sp-color-bar-outline sp-ease-background-color-1"
                    [ngStyle]="palette.secondary.cssBgColor"></div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
