<table *ngIf="model && model.playerList && model.playerList.current" class="sp-full-height sp-full-width sp-table sp-table-support-overflow-ellipsis">
  <!-- Navbar -->
  <tr class="sp-tr-navbar">
    <!-- Collapse button -->
    <td class="sp-td-navbar-icon" (click)="onCollapseClick()">
      <i
      class="mdi-chevron-down mdi sp-cursor-pointer sp-text-xlarge-fixed"
      [ngStyle]="palette.secondary.selected.cssColor"></i>
    </td>
    <!-- Middle content -->
    <td>
      <table class="sp-full-width sp-full-height"><tr>
        <!-- Playlist name -->
        <td class="sp-font-family-regular sp-text-overflow-ellipsis">
          <i
          class="mdi-playlist-music-outline mdi sp-text-xlarge-fixed sp-cursor-pointer"
          [ngStyle]="palette.secondary.selected.cssColor"></i>
          <span
          class="sp-text-large" style="line-height: 36px;vertical-align: top;"
          [ngStyle]="palette.primary.selected.cssColor">&nbsp;{{model.playerList.name}}</span>  
        </td>
      </tr></table>
    </td>
    <!-- Menu -->
    <td class="sp-td-navbar-icon sp-text-xlarge-fixed" [ngStyle]="palette.secondary.selected.cssColor">
      <sp-icon-menu [items]="menuList" [context]="model.playerList.current.song"></sp-icon-menu>
    </td>
  </tr>
  <!-- Image / Playlist / Lyrics -->
  <tr>
    <td colspan="3" class="sp-td-img">
      <div class="sp-img-container sp-full-height sp-full-width" spResizeObserver (spResized)="onImageContainerResized($event)">
        <img
        #imageElement
        (load)="onImageLoad()"
        [src]="song.image.src"
        [style.width.px]="imageSize.width"
        [style.height.px]="imageSize.height"
        [ngClass]="{ 'sp-img-blur': lyricsOverlayEnabled }"
        class="sp-img sp-center">
        <!-- Image overlay (hack: adds one pixel to the height to fix an issue with the image)-->
        <div
        (click)="imageToolbarEnabled = true"
        class="sp-img sp-center"
        [style.width.px]="imageSize.width"
        [style.height.px]="imageSize.height + 1">
          <!-- Image toolbar -->
          <div class="sp-img-overlay-toolbar sp-ease-opacity-01" [ngClass]="{ 'sp-transparent': !imageToolbarEnabled }" [style.width.px]="imageSize.width">
            <table class="sp-table sp-full-width sp-full-height"><tr>
              <td class="sp-td-img-toolbar-left">
                <span *ngIf="song.image && song.image.type" class="sp-text-large sp-font-family-regular">{{song.image.type.toUpperCase()}}</span>
              </td>
              <td style="text-align: center;" class="sp-no-padding">
                <i class="mdi-chevron-left mdi sp-text-big" (click)="onToolbarBack($event)" [ngClass]="{ 'sp-clickable': imageToolbarEnabled }"></i>
                &nbsp;
                <i class="mdi-chevron-right mdi sp-text-big sp-clickable" (click)="onToolbarNext($event)" [ngClass]="{ 'sp-clickable': imageToolbarEnabled }"></i>
              </td>
              <td class="sp-td-img-toolbar-right">
                <i (click)="onToolbarClose($event)" class="mdi-close mdi sp-text-xlarge sp-float-right" [ngClass]="{ 'sp-clickable': imageToolbarEnabled }"></i>
              </td>
            </tr></table>
          </div>
        </div>
        <!-- Lyrics overlay -->
        <div
        *ngIf="lyricsOverlayEnabled"
        (click)="toggleLyrics()"
        class="sp-img sp-bg-dim-black-mid sp-center"
        [style.width.%]="100"
        [style.height.px]="imageSize.height"></div>
      </div>
    </td>
  </tr>
  <!-- Song Info -->
  <tr class="sp-tr-song-info sp-font-family-regular">
    <td colspan="3" class="sp-text-overflow-ellipsis" [attr.style]="getEllipsisColorVar()">
      <!-- Title and Song Count -->
      <i class="sp-text-xlarge mdi mdi-music" [ngStyle]="palette.secondary.selected.cssColor"></i>
      <span
      class="sp-text-xlarge sp-text-bold"
      [ngStyle]="palette.primary.selected.cssColor">&nbsp;{{song.name}}</span>
      <span
      *ngIf="song.playCount > 0"
      class="sp-text-medium sp-play-count"
      [ngStyle]="palette.secondary.selected.cssColor">&nbsp;{{song.playCount}}</span>
      <br>
      <!-- Artist Name -->
      <i class="mdi-account mdi sp-text-large" [ngStyle]="palette.secondary.selected.cssColor"></i>
      <span
      class="sp-text-large"
      [ngStyle]="palette.primary.selected.cssColor">&nbsp;{{song.artistName}}&nbsp;</span>
      <!-- Artist Type -->
      <ng-container *ngIf="song.artistType">
        <i class="mdi-microphone mdi sp-text-large" [ngStyle]="palette.secondary.selected.cssColor"></i>
        <span
        class="sp-text-large"
        [ngStyle]="palette.primary.selected.cssColor">&nbsp;{{song.artistType}}
        </span>
      </ng-container>
      <br>
      <!-- Album -->
      <i class="sp-text-large mdi mdi-album" [ngStyle]="palette.secondary.selected.cssColor"></i>
      <span
      class="sp-text-large"
      [ngStyle]="palette.primary.selected.cssColor">&nbsp;{{song.albumName}}&nbsp;&nbsp;</span>
      <br>
      <!-- Year -->
      <ng-container *ngIf="song.releaseYear > 0">
        <i class="sp-text-large mdi mdi-calendar" [ngStyle]="palette.secondary.selected.cssColor"></i>
        <span
        class="sp-text-large"
        [ngStyle]="palette.primary.selected.cssColor">&nbsp;{{song.releaseYear}}&nbsp;&nbsp;</span>
      </ng-container>
      <!-- Genre -->
      <ng-container *ngIf="song.genre">
        <i class="sp-text-large mdi mdi-tag" [ngStyle]="palette.secondary.selected.cssColor"></i>
        <span
        class="sp-text-large"
        [ngStyle]="palette.primary.selected.cssColor">&nbsp;{{song.genre}}</span>
      </ng-container>
    </td>
  </tr>
  <!-- Toolbar -->
  <tr class="sp-tr-toolbar sp-player-overlay">
    <td colspan="3" class="sp-td-toolbar sp-full-width sp-text-big sp-no-padding">
      <table class="sp-full-width">
        <tr>
          <!-- Link icon -->
          <td>
            <i
            (click)="takeScreenshot()"
            class="mdi sp-cursor-pointer"
            [ngClass]="song.url ? 'mdi-link-variant' : 'mdi-link-variant-off'"></i>
          </td>
          <!-- Lyrics icon -->
          <td>
            <i
            class="mdi sp-cursor-pointer"
            (click)="toggleLyrics()"
            [ngClass]="song.lyrics ? 'mdi-script-text-outline' : 'mdi-script-outline'"></i>
          </td>
          <!-- Rating icon -->
          <td>
            <sp-rating
            (change)="onRatingChange($event, song)"
            [(ngModel)]="song.rating"
            [classOff]="'sp-color-overlay-01'"
            [classBack]="'sp-bg-dim-black-high'">
            </sp-rating>
          </td>
          <!-- Mood icon -->
          <td>
            <i
            class="mdi sp-cursor-pointer"
            [ngClass]="song.mood && song.mood !== 'No Mood' ? 'mdi-emoticon-happy-outline' : 'mdi-emoticon-neutral-outline'"></i>
          </td>
          <!-- Favorite icon -->
          <td>
            <i
            class="mdi sp-cursor-pointer"
            (click)="onFavoriteClick(song)"
            [ngClass]="song.favorite ? 'mdi-heart' : 'mdi-heart-outline'"></i>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <!-- Time Slider -->
  <tr class="sp-tr-time-slider sp-font-family-regular sp-player-overlay"><td colspan="3" class="sp-no-padding"><table class="sp-table"><tr>
    <!-- Elapsed -->
    <td class="sp-td-nav-bar-icon sp-text-xlarge sp-text-center sp-font-family-digital">
      <span [ngClass]="{ 'sp-fade-in-out': model.status === PlayerStatus.Paused }">{{ model.elapsedSeconds | duration }}</span>
    </td>
    <!-- Progress Bar -->
    <td class="sp-td-progress-bar sp-full-width">
      <!-- <progress class="sp-progress-bar sp-full-width" [value]="model.elapsedSeconds" [max]="song.seconds"></progress> -->
      <div class="sp-progress-back">
        <div class="sp-progress-front" [style.width.%]="model.elapsedPercentage"></div>
      </div>
    </td>
    <!-- Duration -->
    <td class="sp-td-nav-bar-icon sp-text-xlarge sp-text-center sp-font-family-digital">
        <span>{{ song.seconds | duration }}</span>
    </td>
  </tr></table></td></tr>
  <!-- Play Controls -->
  <tr class="sp-tr-play-controls sp-text-big sp-player-overlay">
    <td colspan="3">
      <table class="sp-full-width">
        <tr>
          <td class="sp-td-play-control">
            <i *ngIf="model.playerList.play === PlayMode.Sequence" class="mdi-shuffle-disabled mdi"></i>
            <i *ngIf="model.playerList.play === PlayMode.Random" class="mdi-shuffle mdi"></i>
          </td>
          <td (click)="onPrevious()" class="sp-td-play-control">
              <i class="mdi-skip-previous mdi"></i>
          </td>
          <td class="sp-td-play-control">
              <div (click)="onPlayPause()" class="sp-play-pause sp-play-pause-button">
                  <i *ngIf="model.status !== PlayerStatus.Playing" class="mdi-play mdi sp-play-pause sp-play-pause-icon"></i>
                  <i *ngIf="model.status === PlayerStatus.Playing" class="mdi-pause mdi sp-play-pause sp-play-pause-icon"></i>
              </div>
          </td>
          <td (click)="onForward()" class="sp-td-play-control">
              <i class="mdi-skip-next mdi"></i>
          </td>
          <td class="sp-td-play-control">
              <i *ngIf="model.playerList.repeat === RepeatMode.All" class="mdi-repeat mdi"></i>
              <i *ngIf="model.playerList.repeat === RepeatMode.One" class="mdi-repeat-once mdi"></i>
              <i *ngIf="model.playerList.repeat === RepeatMode.Disabled" class="mdi-repeat-off mdi"></i>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
