@import "../../../styles-variables";

.sp-tr-navbar {
  height: $sp-navbar-height;
}

.sp-td-navbar-icon {
  width: 42px;
  text-align: center;
}

.sp-tr-song-info {
  height: 100px; // the actual size is bigger than this, but what matters is to set a height to allow the image to take the available space
  text-align: center;
}

.sp-play-count {
  // Setting the align to super will not work properly because the text is smaller than the rest,
  // so making it 'super' will locate the text on a super position, but relative to its size. For this case
  // we need to make it 'top' so it is moved to the top of the available space which is bigger because
  // the space is relative to the rest of the text.
  vertical-align: top;
}

.sp-td-img {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.sp-img-container {
  position: relative;
}

.sp-img {
  position: absolute;
}

.sp-img-blur {
  filter: blur(3px);
}

.sp-tr-footer {
  height: 180px; // song-toolbar: 50px + time-slider: 30px + play-controls: 100px;
}

.sp-tr-song-toolbar {
  height: 50px;
}

.sp-td-toolbar {
  text-align: center;
}

.sp-td-progress-bar {
  padding-left: 5px;
  padding-right: 5px;
}

.sp-tr-time-slider {
  height: 30px;
}

.sp-progress-back {
  background-color: $sp-color-overlay-02;
  height: 3px;
  border-radius: 10px;
}

.sp-progress-front {
  background-color: $sp-color-on-background;
  height: 100%;
  border-radius: 10px;
}

.sp-time-text {
  margin-left: 5px;
  margin-right: 5px;
}

.sp-tr-play-controls {
  height: 100px;
  text-align: center;
}

.sp-td-play-control {
  width: 20%;
}

.sp-play-pause {
  height: 80px;
  width: 80px;
}

.sp-player-button {
  border-radius: 50%;
  background-color: $sp-color-overlay-02;
  margin: 0 auto; // this will horizontally center div in the td
}

.sp-player-icon {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.sp-back-forward {
  height: 60px;
  width: 60px;
}

.sp-player-overlay {
  color: $sp-color-on-background;
  background-color: $sp-dim-black-mid;
}

.sp-tr-image-toolbar {
  text-align: center;
  height: 50px;
}

.sp-player-eye-dropper {
  height: 120px;
  width: 120px;
  min-height: 120px;
  min-width: 120px;
  margin-left: 10px;
}

.sp-colors-container {
  display: flex;
}

.sp-color-bar {
  height: 30px;
  margin: 0 10px 10px 10px;
  display: flex;
}

.sp-color-palette {
  display: flex;
  gap: 10px;
}

.sp-color-bar-small {
  width: 33.33%;
  display: flex;
}

.sp-color-icon {
  line-height: 30px;
  margin-right: 3px;
}

.sp-color-bar-outline {
  border-radius: 5px;
  outline: 1px solid $sp-color-overlay-02;
}

.sp-footer-outline {
  //outline: 1px solid $sp-color-overlay-02;
  box-shadow: 0 1px $sp-color-overlay-02 inset;
}

.sp-color-item-disabled {
  color: $sp-color-overlay-02;
}

/*
Attributes I changed:
width and height to 25px;
color (stroke): #00000099 (0, 0, 0, 0.6)
Editor: https://editsvgcode.com/
<svg
xmlns='http://www.w3.org/2000/svg'
viewBox='0 0 100 100'
width='100%'
height='100%'>
  <g stroke='#000' stroke-width='8'>
    <path d='m 0 50 l 25 0'></path>
    <path d='m 100 50 l -25 0'></path>
    <path d='m 50 100 l 0 -25'></path>
    <path d='m 50 0 l 0 25'></path>
  </g>
  <circle cx='50' cy='50' r='25' fill='none' stroke='#000' stroke-width='5'></circle>
</svg>
*/
.sp-cursor-eye {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' width='25px' height='25px'%3E%3Cg stroke='%2300000099' stroke-width='8'%3E%3Cpath d='m 0 50 l 25 0'%3E%3C/path%3E%3Cpath d='m 100 50 l -25 0'%3E%3C/path%3E%3Cpath fill='red' d='m 50 100 l 0 -25'%3E%3C/path%3E%3Cpath d='m 50 0 l 0 25'%3E%3C/path%3E%3C/g%3E%3Ccircle cx='50' cy='50' r='25' fill='none' stroke='%2300000099' stroke-width='5'%3E%3C/circle%3E%3C/svg%3E") 11 11, crosshair;
}