<sp-list-base
[model]="listModel"
[infoTemplate]="infoTemplate"
(itemContentClick)="onItemContentClick($event)">
  <ng-template #infoTemplate let-item="item">
    <table class="sp-table sp-table-no-padding sp-table-support-overflow-ellipsis sp-full-height sp-full-width">
      <tr>
        <!-- Playlist Info -->
        <td class="sp-text-overflow-ellipsis">
          <span class="sp-main-text sp-text-medium sp-no-select">{{item.name}}</span>
          <br>
          <span class="sp-color-on-bg-low sp-text-small sp-no-select">
            <i class="mdi-timer-outline mdi">&nbsp;</i><span>{{item.seconds | duration}}&nbsp;&nbsp;&nbsp;</span>
            <i class="mdi-music-circle mdi">&nbsp;</i><span>{{item.songCount}}</span>
            <ng-container *ngIf="item.description">
              <span>&nbsp;&nbsp;&nbsp;</span>
              <i class="mdi-note-text mdi">&nbsp;</i><span>{{item.description}}</span>
            </ng-container>
          </span>
        </td>
        <td style="width: 40px;text-align: center;" class="sp-clickable" (click)="onPlayClick($event, item)">
          <i class="mdi-play-box-outline mdi sp-text-xlarge"></i>
        </td>
      </tr>
    </table>
  </ng-template>
</sp-list-base>