<sp-list-base
#spListBaseComponent
[model]="listModel"
[infoTemplate]="infoTemplate"
(itemContentClick)="onItemContentClick($event)">
  <ng-template #infoTemplate let-item="item">
    <table class="sp-table sp-table-no-padding sp-full-height sp-full-width">
      <tr>
        <td>
          <span *ngIf="isGenreList" class="sp-text-medium sp-no-select">{{item.name}}</span>
          <span *ngIf="!isGenreList" class="sp-text-medium sp-no-select">{{item.classificationType}}: {{item.name}}</span>
          <br>
          <span class="sp-color-on-bg-low sp-text-small sp-no-select">
            <i class="mdi-music mdi">&nbsp;</i>{{item.songCount}}
          </span>
        </td>
        <td style="width: 50px;text-align: center;" class="sp-clickable" (click)="onShowSongsClick(item)">
          <i class="mdi-music-note mdi sp-text-xlarge"></i>
        </td>
      </tr>
    </table>
  </ng-template>
</sp-list-base>