<sp-list-base
[listUpdatedEvent]="appEvent.AlbumListUpdated"
[itemMenuList]="itemMenuList"
[infoTemplate]="infoTemplate"
(initialized)="onListInitialized()"
(searchFired)="onSearch($event)"
(itemContentClick)="onItemContentClick($event)">
  <ng-template #infoTemplate let-item="item">
    <span class="sp-text-medium sp-no-select">{{item.name}}</span>
    <span *ngIf="item.releaseYear > 0" class="sp-text-medium sp-no-select"> ({{item.releaseYear}})</span>
    <br>
    <span class="sp-color-on-bg-low sp-text-small sp-no-select">{{item.artistName}} | Songs: {{item.songCount}}</span>
  </ng-template>
</sp-list-base>