<sp-list-base
#spListBaseComponent
[model]="listModel"
[infoTemplate]="infoTemplate"
(itemAvatarClick)="onItemImageClick($event)"
(itemContentClick)="onItemContentClick($event)">
  <ng-template #infoTemplate let-item="item">
    <table class="sp-table sp-table-no-padding sp-table-support-overflow-ellipsis sp-full-height sp-full-width"><tr>
      <!-- Album Info -->
      <td class="sp-text-overflow-ellipsis">
        <i
        *ngIf="item.recentIcon && !item.recentIcon.hidden"
        class="sp-new-item-icon"
        [ngClass]="[item.recentIcon.icon, item.recentIcon.styleClass]"  [title]="item.recentIcon.tooltip"></i>
        <span class="sp-main-text sp-text-medium sp-no-select">{{item.name}}</span>
        <br>
        <span class="sp-color-on-bg-low sp-text-small sp-no-select">
          <i class="mdi-account mdi">&nbsp;</i><span>{{item.artistStylized}}&nbsp;&nbsp;&nbsp;</span>
          <ng-container *ngIf="item.releaseYear > 0">
            <i class="mdi-calendar-month mdi">&nbsp;</i><span>{{item.releaseYear}}&nbsp;&nbsp;&nbsp;</span>
          </ng-container>
          <i class="mdi-timer mdi">&nbsp;</i><span>{{item.seconds | duration}}&nbsp;&nbsp;&nbsp;</span>
          <i class="mdi-music-circle mdi">&nbsp;</i><span>{{item.songCount}}</span>
        </span>
      </td>
      <!-- Favorite Icon -->
      <td style="width: 40px;text-align: center;" class="sp-clickable" (click)="onFavoriteClick($event, item)">
        <i *ngIf="item.favorite" class="mdi-heart mdi sp-text-xlarge"></i>
        <i *ngIf="!item.favorite" class="mdi-heart-outline mdi sp-text-xlarge"></i>
      </td>
    </tr></table>
  </ng-template>
</sp-list-base>