<div *ngFor="let group of model.groups" class="sp-field-group">
  <div *ngFor="let field of group.fields" class="sp-input-group">
    <span
    class="sp-input-prepend-label sp-text-large sp-clickable"
    [ngClass]="{ 'sp-color-primary': hasValue(field) }"
    (click)="onPrependClick(field)">
      <!-- Field Label -->
      <ng-container *ngIf="field.labelVisible">{{field.label}}</ng-container>
      <!-- Field Icon -->
      <ng-container *ngIf="!field.labelVisible"><i [ngClass]="field.icon"></i></ng-container>
    </span>
    <!-- Input -->
    <ng-container [ngSwitch]="field.editorType">
      <input *ngSwitchCase="ValueEditorType.YesNo" type="text" [ngModel]="getYesNoValue(field)" class="sp-input-control sp-text-medium" [ngClass]="{ 'sp-input-control-editable': field.onEdit }" readonly>
      <textarea *ngSwitchCase="ValueEditorType.Multiline" type="text" [(ngModel)]="model.data[field.propertyName]" [title]="model.data[field.propertyName]" class="sp-input-control sp-text-medium sp-multiline" [ngClass]="{ 'sp-input-control-editable': field.onEdit }" [readonly]="!field.editEnabled"></textarea>
      <input *ngSwitchDefault type="text" [(ngModel)]="model.data[field.propertyName]" class="sp-input-control sp-text-medium" [ngClass]="{ 'sp-input-control-editable': field.onEdit }" [readonly]="!field.editEnabled">
    </ng-container>
    
    <!-- Edit Icon -->
    <span *ngIf="field.onEdit && !field.editEnabled" (click)="field.onEdit(field)" class="sp-input-edit sp-clickable"><i [ngClass]="AppActionIcons.Edit"></i></span>
    <!-- Edit Ok Icon -->
    <span *ngIf="field.editEnabled" (click)="field.onOk(field)" class="sp-input-edit sp-clickable"><i [ngClass]="AppActionIcons.Ok"></i></span>
    <!-- Badge -->
    <span *ngIf="field.badge" class="sp-input-badge sp-text-small">{{field.badge}}</span>
  </div>
</div>
<div class="sp-placeholder"></div>
