<div *ngFor="let group of model.groups" class="sp-field-group">
  <div *ngFor="let field of group.fields" class="sp-input-group">
    <!-- Field Icon -->
    <span
    *ngIf="!field.labelVisible"
    class="sp-input-prepend-icon sp-text-large sp-clickable"
    (click)="onPrependClick(field)"
    ><i [ngClass]="field.icon"></i></span>
    <!-- Field Label -->
    <span
    *ngIf="field.labelVisible"
    class="sp-input-prepend-label sp-text-large sp-clickable"
    (click)="onPrependClick(field)"
    >{{field.label}}</span>
    <!-- Input -->
    <input type="text" [(ngModel)]="model.data[field.propertyName]" class="sp-input-control sp-text-medium" [ngClass]="{ 'sp-input-control-editable': field.onEdit }" readonly>
    <!-- Edit Icon -->
    <span *ngIf="field.onEdit" (click)="field.onEdit(field)" class="sp-input-edit sp-clickable"><i class="mdi-pencil-outline mdi"></i></span>
    <!-- Badge -->
    <span *ngIf="field.badge" class="sp-input-badge sp-text-small">{{field.badge}}</span>
  </div>
</div>
