@import "../../../../styles-variables";

.sp-table-row-placeholder {
    visibility: collapse;
}

.sp-table-context-field {
    width: 50px;
}

.sp-table-image-field {
    width: 60px;
}

.sp-table-loading-image {
    display: flex;
    height: 50px;
    width: 50px;
}

.sp-table-image-backdrop {
    height: 50px;
    width: 50px;
    background-color: $sp-dim-black-low;
    position: absolute;
    font-size: 2em;
    display: grid;
    text-align: center;
}

.sp-table-item-icon-bg {
    font-size: 2em;
    display: grid;
    text-align: center;
}

.sp-table-row-fake {
    height: 59px; // 50px image, 4px padding top, 4px padding bottom, 1px border top
}