<table
*ngIf="model.criteriaResult.items.length > 0 && !model.showModal"
spIntersectionObserver
class="sp-table-list sp-color-on-bg-high sp-table-support-overflow-ellipsis sp-full-width">
  <!--
    HACK: when the table layout is fixed, the structure of the columns is defined by the very first row.
    Since a "fake" row (row that is out of the viewport and doesn't render real content) has only one column,
    when it becomes the very first row in the table, the whole table follows its structure.
    What I'm doing here is "hardcoding" the first row to have the same three columns with the same width for
    all other rows. It does not actually matter if the row is not visible (collapsed),
    as long as it is the first row, it will define the structure of the rest of the rows.
    Since the first row overrides the structure of the rest of the rows, in theory you only need to apply
    the structure to the first row; in other words, you don't need to style all the rows and columns.
    I have confirmed this.
   -->
  <tr class="sp-table-row-placeholder">
    <td class="sp-table-image-field"></td>
    <td></td>
    <td class="sp-table-context-field"></td>
  </tr>
  <!-- Actual rows -->
  <tr
  *ngFor="let item of model.criteriaResult.items"
  spIntersectionObserverTarget
  (intersectionChange)="onIntersectionChange($event, item)"
  [ngClass]="{ 'sp-bg-04': item.selected }">
    <!-- Real content -->
    <ng-container *ngIf="item.canBeRendered">
      <!-- Image -->
      <td class="sp-table-image-field" (click)="onImageClick(item)">
        <!-- Optional backdrop icon -->
        <div *ngIf="getItemIcon(item)" class="sp-table-image-backdrop sp-z-1">
          <i [ngClass]="getItemIcon(item)" class="sp-color-primary"></i>
        </div>
        <!-- Img -->
        <sp-transition-image
        [defaultSrc]="DefaultImageSrc.Small"
        [transitionSrc]="item.imageSrc"
        class="sp-table-loading-image"></sp-transition-image>
      </td>
      <!-- Info -->
      <td class="sp-text-overflow-ellipsis" (click)="onContentClick(item)">
        <ng-template [ngTemplateOutlet]="infoTemplate" [ngTemplateOutletContext]="{item: item}"></ng-template>
      </td>
      <!-- Menu Icon -->
      <td class="sp-table-context-field sp-text-center sp-cursor-pointer sp-text-xlarge text-muted">
        <sp-icon-menu [items]="model.itemMenuList" [context]="item" [iconClass]="'mdi-dots-horizontal mdi'"></sp-icon-menu>
      </td>
    </ng-container>
    <!-- Fake row, the less content we have here the better, since this is how rows not visible in the view port are rendered. -->
    <ng-container *ngIf="!item.canBeRendered">
      <!-- Forcing the row to have the same height as a real row to make the scrollbar be the right proportion size. -->
      <td colspan="3" class="sp-table-row-fake">
        <span class="sp-text-medium">Loading item...</span>
      </td>
    </ng-container>
  </tr>
</table>
<div *ngIf="model.showModal" class="sp-list-modal sp-full-width sp-full-height sp-z-3">
  <ng-template #spModalHost></ng-template>
</div>