<div class="sp-full-height" [ngClass]="{ 'sp-chip-container': model.displayMode === ChipDisplayMode.Flex }">
  <div
  (click)="onChipItemClick(chipItem)"
  *ngFor="let chipItem of model.items"
  class="sp-chip-item sp-clickable sp-text-large"
  [ngClass]="{ 'sp-bg-primary-variant': chipItem.selected, 'sp-bg-09': !chipItem.selected }">
    <span *ngIf="chipItem.middleIcons && chipItem.middleIcons.length" class="sp-chip-text">
      <i *ngFor="let icon of chipItem.middleIcons" [ngClass]="icon">&nbsp;</i>
    </span>
    <span *ngIf="!chipItem.middleIcons || !chipItem.middleIcons.length" class="sp-chip-text">
      <i *ngIf="chipItem.icon" [ngClass]="chipItem.icon">&nbsp;&nbsp;</i>
      <span>{{chipItem.caption}}</span>
      <ng-container *ngIf="chipItem.subText"><br><span class="sp-text-small">{{chipItem.subText}}</span></ng-container>
    </span>
    <i *ngIf="chipItem.secondaryIcon" [ngClass]="chipItem.secondaryIcon" class="sp-float-right"></i>
  </div>
</div>