<div class="sp-full-height sp-full-width sp-chip-selection-container" *ngIf="model">
  <table class="sp-full-height sp-full-width">
    <tr class="sp-chip-selection-title-row">
      <div class="sp-chip-selection-title">
        <span *ngIf="model.title" class="sp-text-big">{{model.title}}</span>
        <span *ngIf="model.subTitle" class="sp-text-big">{{model.subTitle}}</span>
      </div>
    </tr>
    <tr>
      <div [ngClass]="{ 'sp-chip-container': model.displayMode === ChipDisplayMode.Flex }">
        <div
        (click)="onChipValueClick(chipValue)"
        *ngFor="let chipValue of model.values"
        class="sp-chip-item sp-clickable"
        [ngClass]="{ 'sp-bg-primary-variant': chipValue.selected, 'sp-bg-09': !chipValue.selected }">
          <span class="sp-chip-text sp-text-large">{{chipValue.caption}}</span>
        </div>
      </div>
    </tr>
    <tr class="sp-chip-selection-toolbar-row">
      <div class="sp-chip-selection-toolbar">
        <div (click)="onCancelClick()" class="sp-chip-item sp-clickable sp-bg-09">Cancel</div>
        <div (click)="onOkClick()" class="sp-chip-item sp-bg-primary sp-clickable">OK</div>
      </div>
    </tr>
  </table>
</div>
