@import "../../../../styles-variables";

.sp-chip-selection-container {
  position: absolute;
}

.sp-chip-selection-title-row {
  height: 60px;
}

.sp-chip-selection-title {
  padding: 5px;
}

.sp-chip-selection-toolbar-row {
  height: 40px;
}

.sp-chip-selection-toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}