@import "../../../../styles-variables";

:host {
    width: 100%;
}
.quick-search-container {
    display: flex;
}

.sp-search-clear-icon {
    position: absolute;
    opacity: 0.5;
    right: 94px;
    top: 10px;
    color: $sp-color-on-background-high;
    width: 24px;
    text-align: center;
    font-size: 20px;
}

input {
    height: 34px;
    border-radius: 0.25rem;
    border: 1px solid $sp-color-on-background-low;
    padding-left: 10px;
    padding-right: 10px;
}

.btn {
    padding-top: 3px;
    padding-right: 5px;
}

@media only screen and (max-width:$sp-media-max-width) {
    .sp-search-clear-icon {
        right: 94px;
    }
}