<sp-list-base
#spListBaseComponent
[model]="listModel"
[infoTemplate]="infoTemplate"
(itemAvatarClick)="onItemImageClick($event)"
(itemContentClick)="onItemContentClick($event)">
  <ng-template #infoTemplate let-item="item">
    <table class="sp-table sp-table-no-padding sp-table-support-overflow-ellipsis sp-full-height sp-full-width"><tr>
      <!-- Artist Info -->
      <td class="sp-text-overflow-ellipsis">
        <i
        *ngIf="item.recentIcon && !item.recentIcon.hidden"
        class="sp-new-item-icon"
        [ngClass]="[item.recentIcon.icon, item.recentIcon.styleClass]"
        [title]="item.recentIcon.tooltip"></i>
        <span class="sp-main-text sp-text-medium sp-no-select">{{item.artistStylized}}</span>
        <br>
        <span class="sp-color-on-bg-low sp-text-small sp-no-select">
          <ng-container *ngIf="isAlbumArtist && item.country !== 'Unknown'">
            <i [ngClass]="AppAttributeIcons.Country">&nbsp;</i>
            <span>{{item.country}}&nbsp;&nbsp;&nbsp;</span>
          </ng-container>
          <ng-container *ngIf="isAlbumArtist">
            <i [ngClass]="AppEntityIcons.Album">&nbsp;</i>
            <span>{{item.albumCount}}&nbsp;&nbsp;&nbsp;</span>
          </ng-container>
          <i [ngClass]="AppAttributeIcons.SongCount">&nbsp;</i><span>{{item.songCount}}</span>
        </span>
      </td>
      <!-- Favorite Icon -->
      <td style="width: 40px;" class="sp-clickable sp-text-center" (click)="onFavoriteClick($event, item)">
        <i *ngIf="item.favorite" [ngClass]="AppAttributeIcons.FavoriteOn" class="sp-text-xlarge sp-color-primary"></i>
        <i *ngIf="!item.favorite" [ngClass]="AppAttributeIcons.FavoriteOff" class="sp-text-xlarge"></i>
      </td>
    </tr></table>
  </ng-template>
</sp-list-base>