<div class="sp-img-container">
  <img class="sp-img-preview" [src]="model.src" />
</div>
<div>
  <div *ngIf="!model.shareDisabled" (click)="onShareClick()" class="sp-chip-item sp-bg-primary sp-clickable">
    <i class="mdi-share-variant-outline mdi"></i>&nbsp;&nbsp;<span>Share</span>
  </div>
  <div *ngIf="!model.downloadDisabled" (click)="onDownloadClick()" class="sp-chip-item sp-bg-primary-variant sp-clickable">
    <i class="mdi-download-outline mdi"></i>&nbsp;&nbsp;<span>Download</span>
  </div>
</div>