<div *ngIf="model" class="sp-query-editor-container sp-font-family-regular">
  <!-- COLUMNS -->
  <ng-container *ngFor="let selector of supportedSelectors">
    <!-- Only display the column if there are values to select. -->
    <div *ngIf="selector.values.length">
      <div class="sp-filter-header sp-text-big sp-bg-04">
        <span class="sp-filter-header-text">{{selector.column.caption}}</span>
        <span (click)="onAddClick(selector)" class="sp-btn-add sp-clickable"><i class="mdi-plus mdi"></i></span>
      </div>
      <div class="sp-chip-container">
        <div class="sp-chip-item sp-bg-09" *ngFor="let valuePair of getSelectedValues(selector)">
          <span class="sp-chip-text sp-text-large">{{valuePair.caption}}</span>&nbsp;
          <i class="mdi-close mdi sp-text-medium sp-color-on-bg-low sp-clickable" (click)="onChipCloseClick(selector, valuePair)"></i>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- SORT BY -->
  <div class="sp-filter-header sp-text-big sp-bg-04">
    <span class="sp-filter-header-text">{{sortBySelector.column.caption}}</span>
    <span (click)="onSortByAddClick()" class="sp-btn-add sp-clickable"><i class="mdi-plus mdi"></i></span>
  </div>
  <div class="sp-chip-container">
    <div class="sp-chip-item sp-bg-09" *ngFor="let criteriaItem of model.sortingCriteria">
      <span class="sp-chip-text sp-text-large">{{columnCaption(criteriaItem.columnName)}}</span>&nbsp;
      <i class="mdi-close mdi sp-text-medium sp-color-on-bg-low sp-clickable" (click)="onSortCloseClick(criteriaItem)"></i>
    </div>
  </div>
  <!-- SORT ALGORITHM -->
</div>
