<div class="sp-full-height sp-font-family-regular-fixed">
  <div id="spOutletContainerBackground" class="sp-max-width sp-bg-01"></div>
  <sp-loading-view></sp-loading-view>
  <sp-side-bar position="left">
    <sp-side-bar-menu></sp-side-bar-menu>
  </sp-side-bar>
  <sp-side-bar position="right">
    <sp-side-bar-host></sp-side-bar-host>
  </sp-side-bar>
  <sp-nav-bar></sp-nav-bar>
  <div id="spOutletContainer" class="sp-max-width sp-scroll-x-disabled">
    <router-outlet></router-outlet>
    <!-- This placeholder will make the ending point of the outlet be above the small player -->
    <div class="sp-player-small-height"></div>
  </div>
  <sp-player-overlay></sp-player-overlay>
</div>