
<div (click)="onClick($event)" class="sp-star-rating">
  <div class="sp-stars">
    <!-- Back star -->
    <i class="mdi-star mdi" [ngClass]="model.classOff" [ngStyle]="{ color: model.colorOff }" title="{{model.value}}"></i>
    <!-- Front star -->
    <div class="sp-front-star" [style.width.%]="model.percentage" [ngClass]="model.classOn" [ngStyle]="{ color: model.colorOn }" title="{{model.value}}">
      <i class="mdi-star mdi"></i>
    </div>

    <ul
    *ngIf="model.showSelector"
    [ngClass]="[model.classBack, model.animateList ? 'sp-rating-animate' : '']"
    class="sp-rating-selector"
    [ngStyle]="{ 'background-color': model.colorBack }">
      <li
      *ngFor="let val of model.valueList"
      title="{{val}}"
      (click)="onStarClick(val)"
      (mouseover)="hoveredValue = val"
      (mouseleave)="hoveredValue = 0; clickedValue = 0"
      (mousedown)="clickedValue = val"
      (mouseup)="clickedValue = 0"
      [ngStyle]="{ color: (val <= model.value || val <= hoveredValue) ? model.colorOn : model.colorOff }"
      [ngClass]="[(val <= model.value || val <= hoveredValue) ? model.classOn : model.classOff, val <= hoveredValue ? 'sp-scale-up' : '', val <= clickedValue ? 'sp-scale-down' : '']">
        <!-- inline block is needed to make the transform scale work -->
        <i class="mdi-star mdi" style="display: inline-block;"></i>
      </li>
    </ul>
  </div>
</div>