
<div (click)="onClick($event)" class="sp-star-rating" title="{{model.value}}">
  <div class="sp-stars">
    <!-- Back star -->
    <i class="mdi-star mdi" [ngClass]="model.classOff" [ngStyle]="{ color: model.colorOff }"></i>
    <!-- Front star -->
    <div class="sp-front-star" [style.width.%]="model.percentage" [ngClass]="model.classOn" [ngStyle]="{ color: model.colorOn }">
      <i class="mdi-star mdi"></i>
    </div>

    <ul *ngIf="model.showSelector" [ngClass]="{'animate': model.animateList}" class="sp-rating-selector" [ngStyle]="{ 'background-color': model.colorBack }">
      <li
      (click)="onValueClick(val)"
      *ngFor="let val of model.valueList"
      [ngClass]="{'selected': val <= model.value}"
      [attr.data-rating]="val"
      [attr.style]="getStyleVariables()"
      [ngStyle]="{ color: this.model.colorOff }">
        <i class="fa fa-star"></i>
      </li>
    </ul>
  </div>
</div>