<sp-list-base
#spListBaseComponent
[model]="listModel"
[infoTemplate]="infoTemplate"
(itemContentClick)="onItemContentClick($event)">
  <ng-template #infoTemplate let-item="item">
    <table class="sp-table sp-table-no-padding sp-table-support-overflow-ellipsis sp-full-height sp-full-width">
      <tr>
        <!-- Filter Info -->
        <td class="sp-text-overflow-ellipsis">
          <span class="sp-main-text sp-text-medium sp-no-select">{{item.name}}</span>
          <br>
          <ng-container *ngIf="item.description">
            <i [ngClass]="AppAttributeIcons.Description" class="sp-color-on-bg-low sp-text-small">&nbsp;</i>
            <span class="sp-color-on-bg-low sp-text-small sp-no-select">{{item.description}}</span>
          </ng-container>
        </td>
        <td style="width: 40px;" class="sp-clickable sp-text-center" (click)="onFavoriteClick($event, item)">
          <i *ngIf="item.favorite" [ngClass]="AppAttributeIcons.FavoriteOn" class="sp-text-xlarge sp-color-primary"></i>
          <i *ngIf="!item.favorite" [ngClass]="AppAttributeIcons.FavoriteOff" class="sp-text-xlarge"></i>
        </td>
      </tr>
    </table>
  </ng-template>
</sp-list-base>