@import "../../../styles-variables";

.sp-table-row-placeholder {
    visibility: collapse;
}

.sp-td-drag {
    width: 40px;
    vertical-align: middle;
    text-align: center;
}

.sp-td-context {
    width: 45px;
}

.sp-td-duration {
    width: 55px;
}

.sp-table-row-fake {
    height: 59px; // Determine proper height, do we really need a height? Only if we need to show the scrollbar
}