@import "../../../styles-variables";

.sp-new-song-icon {
  position: relative;
  margin-left: -16px;
  top: -6px;
  left: 12px;
}

.sp-title-badge {
  margin-left: 10px;
  padding: 1px 3px;
  border: 1px solid $sp-color-primary;
  border-radius: 3px;
  color: $sp-color-primary;
  vertical-align: middle;
}

.sp-title-icon {
  margin-left: 5px;
}