<sp-list-base
#spListBaseComponent
[broadcastService]="broadcastService"
[breadcrumbsEnabled]="true"
[listUpdatedEvent]="AppEvent.SongListUpdated"
[itemMenuList]="itemMenuList"
[infoTemplate]="infoTemplate"
(afterInit)="onListInitialized($event)"
(itemAvatarClick)="onItemImageClick($event)"
(itemContentClick)="onItemContentClick($event)"
(itemRender)="onItemRender($event)">
  <ng-template #infoTemplate let-item="item">
    <i *ngIf="item.recentIcon" class="mdi-vanish-quarter mdi sp-new-item-icon" [ngClass]="item.recentIcon.styleClass"  [title]="item.recentIcon.tooltip"></i>
    <span class="sp-text-medium sp-no-select" [ngClass]="{ 'sp-color-primary': item.playerStatus === PlayerSongStatus.Playing }">{{item.name}}</span>
    <ng-container *ngIf="songAttributesVisible">
      <i *ngIf="item.bitrate === 320000" class=" mdi-waveform mdi sp-title-icon sp-color-320" [title]="SongBadge.Kbps320"></i>
      <i *ngIf="item.vbr" class=" mdi-waveform mdi sp-title-icon sp-color-vbr" [title]="SongBadge.Vbr"></i>
      <i *ngIf="item.lyrics" class="mdi-script-text-outline mdi sp-title-icon sp-color-lyric" [title]="SongBadge.Lyrics"></i>
      <i *ngIf="item.live" class="mdi-broadcast mdi sp-title-icon sp-color-success" [title]="SongBadge.Live"></i>
      <i *ngIf="item.rating === 5" class="mdi-star-outline mdi sp-title-icon sp-color-rating" [title]="SongBadge.TopRated"></i>
      <i *ngIf="item.favorite" class="mdi-heart-outline mdi sp-title-icon sp-color-heart" [title]="SongBadge.Favorite"></i>
    </ng-container>
    <br>
    <span class="sp-color-on-bg-low sp-text-small sp-no-select">
      <i class="mdi-account mdi">&nbsp;</i><span>{{item.artistStylized}}&nbsp;&nbsp;&nbsp;</span>
      <i class="mdi-album mdi">&nbsp;</i><span>{{item.albumName}}&nbsp;&nbsp;&nbsp;</span>
      <ng-container *ngIf="item.releaseYear > 0">
        <i class="mdi-calendar mdi">&nbsp;</i><span>{{item.releaseYear}}&nbsp;&nbsp;&nbsp;</span>
      </ng-container>
      <i class="mdi-clock-outline mdi">&nbsp;</i>{{item.duration}}
    </span>
  </ng-template>
</sp-list-base>