<div *ngIf="model.items.length === 0"></div>
<table *ngIf="model.items.length > 0" spIntersectionObserver class="sp-table-list sp-color-on-bg-high sp-table-support-overflow-ellipsis sp-full-width">
  <tr
  *ngFor="let song of model.items"
  spIntersectionObserverTarget
  (intersectionChange)="onIntersectionChange($event, song)"
  [ngClass]="{ 'sp-selected-item': song.selected }">
    <ng-container *ngIf="song.canBeRendered">
      <!-- Song Image -->
      <td class="sp-table-image-field" (click)="onSongClick(song)">
        <sp-loading-image [src]="song.imageSrc" class="sp-table-loading-image"></sp-loading-image>
      </td>
      <!-- Song Info -->
      <td class="sp-text-overflow-ellipsis" (click)="onSongClick(song)">
        <span class="sp-text-medium sp-no-select">{{song.name}}</span>
        <br>
        <span class="sp-color-on-bg-low sp-text-small org-no-select">{{song.artistName}} | {{song.albumName}}</span>
        <span *ngIf="song.releaseYear > 0" class="sp-color-on-bg-low sp-text-small org-no-select"> ({{song.releaseYear}})</span>
      </td>
      <!-- Song Menu Icon -->
      <td class="sp-table-context-field sp-text-center sp-cursor-pointer sp-text-xlarge text-muted">
        <sp-icon-menu [items]="menuList" [context]="song" [iconClass]="'mdi mdi-dots-horizontal'"></sp-icon-menu>
      </td>
    </ng-container>
    <ng-container *ngIf="!song.canBeRendered">
      <td class="sp-table-image-field">
        <img class="sp-table-loading-image"/>
      </td>
      <!-- Song Info -->
      <td class="sp-text-overflow-ellipsis">
        <span class="sp-text-medium sp-no-select">Loading song...</span>
      </td>
      <!-- Song Menu Icon -->
      <td class="sp-table-context-field sp-text-center sp-cursor-pointer sp-text-xlarge text-muted">
      </td>
    </ng-container>
  </tr>
</table>