<sp-list-base
#spListBaseComponent
[broadcastService]="broadcastService"
[breadcrumbsEnabled]="true"
[listUpdatedEvent]="appEvent.SongListUpdated"
[itemMenuList]="itemMenuList"
[infoTemplate]="infoTemplate"
(initialized)="onListInitialized($event)"
(itemImageClick)="onItemImageClick($event)"
(itemContentClick)="onItemContentClick($event)"
(itemRender)="onItemRender($event)">
  <ng-template #infoTemplate let-item="item">
    <span class="sp-text-medium sp-no-select" [ngClass]="{ 'sp-color-primary': item.playerStatus === PlayerSongStatus.Playing }">
      {{item.name}}
      <i *ngIf="item.bitrate === 320000 || item.vbr" class=" mdi-waveform mdi sp-title-icon" [title]="item.vbr ? SongBadge.Vbr : SongBadge.Kbps320"></i>
      <i *ngIf="item.lyrics" class="mdi-script-text-outline mdi sp-title-icon" [title]="SongBadge.Lyrics"></i>
      <i *ngIf="item.live" class="mdi-broadcast mdi sp-title-icon" [title]="SongBadge.Live"></i>
      <i *ngIf="item.rating === 5" class="mdi-star-outline mdi sp-title-icon" [title]="SongBadge.TopRated"></i>
      <i *ngIf="item.favorite" class="mdi-heart-outline mdi sp-title-icon" [title]="SongBadge.Favorite"></i>
    </span>
    <br>
    <span class="sp-color-on-bg-low sp-text-small sp-no-select">
      <i class="mdi-account mdi">&nbsp;</i>{{item.artistStylized}}&nbsp;&nbsp;
      <i class="mdi-album mdi">&nbsp;</i>{{item.albumName}}&nbsp;&nbsp;
      <ng-container *ngIf="item.releaseYear > 0"><i class="mdi-calendar mdi">&nbsp;</i>{{item.releaseYear}}</ng-container>
    </span>
  </ng-template>
</sp-list-base>