<div class="sp-settings-container">
  <!-- Placeholder -->
  <div style="height: 15px;"></div>
  <ng-container *ngFor="let settingCategory of model">
    <!-- Category -->
    <p class="sp-text-big sp-color-primary sp-font-family-small-caps">{{settingCategory.name}}</p>
    <!-- Setting -->
    <div
    *ngFor="let setting of settingCategory.settings"
    class="sp-setting sp-bg-04"
    [ngClass]="{ 'sp-clickable': setting.action && !setting.disabled, 'sp-color-on-bg-low': setting.disabled }"
    (click)="onSettingClick(setting)">
      <table class="sp-table sp-table-no-padding"><tr>
        <td class="sp-full-width">
          <!-- Header -->
          <p class="sp-text-xlarge">
            <i *ngIf="setting.icon && !setting.running" [ngClass]="setting.icon">&nbsp;</i>
            <i *ngIf="setting.running" class="mdi-loading mdi-spin mdi">&nbsp;</i>
            <span>{{setting.name}}</span>
          </p>
          <!-- Html -->
          <p *ngIf="setting.textHtml" [innerHtml]="setting.textHtml"></p>
          <!-- Regular -->
          <p *ngFor="let text of setting.textRegular" class="sp-text-medium" [innerText]="text"></p>
          <!-- Warning -->
          <p *ngIf="setting.textWarning" class="sp-text-medium sp-color-warning" [innerText]="setting.textWarning"></p>
          <!-- Error -->
          <p *ngIf="setting.textError" class="sp-text-medium sp-color-error" [innerText]="setting.textError"></p>
          <!-- Data -->
          <p *ngFor="let text of setting.textData" class="sp-text-medium sp-color-primary" [innerText]="text"></p>
        </td>
        <td *ngIf="setting.editorType === EditorType.YesNo" class="sp-td-icon sp-text-xlarge sp-text-center">
          <i *ngIf="setting.data" [ngClass]="[AppAttributeIcons.Selected, setting.disabled ? '' : 'sp-color-primary']"></i>
          <i *ngIf="!setting.data" [ngClass]="AppAttributeIcons.Unselected"></i>
        </td>
      </tr></table>
    </div>
  </ng-container>
</div>