<div *ngIf="model" class="sp-filter-container sp-font-family-regular">
  <div *ngFor="let columnName of supportedColumns" class="">
    <div class="sp-filter-header sp-text-big sp-bg-04">
      <span class="sp-filter-header-text">{{getDisplayName(columnName)}}</span>
      <span (click)="onAddClick(columnName)" class="sp-btn-add sp-clickable"><i class="mdi-plus mdi"></i></span>
    </div>
    <div class="sp-chip-container">
      <div class="sp-chip-item sp-bg-09" *ngFor="let columnValue of getValues(columnName)">
        <span class="sp-chip-text sp-text-large">{{columnValue}}</span>
      </div>
    </div>
  </div>
</div>
