@import "../../../styles-variables";

.sp-filter-container {
  border-color: $sp-color-overlay-04;
  border-width: 1px;
  border-style: solid;
  margin: 5px;
}

.sp-filter-header {
  height: 42px;
  line-height: 40px; /* This one has to match the height in order to vertically center the text. */
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}

.sp-btn-add {
  float: right;
}