@import "../../../../styles-variables";

.sp-text-scroller-container {
  position: relative;
}

.sp-text-container {
  position: relative;
  overflow-y: scroll;
  opacity: 0.8;
}

.sp-text {
  position: absolute;
  text-align: center;
  &::before {
    content: "";
    height: 50px;
    display: block;
  }
  &::after {
    content: "";
    height: 50px;
    display: block;
  }
}

.sp-text-size {
  position: absolute;
  top: 4px;
  left: 12px;
}

.sp-text-close {
  position: absolute;
  top: 4px;
  right: 12px;
}

.sp-text-gradient {
  position: absolute;
  pointer-events: none; // Allow the scroll to pass through this div directly to the text
  top: 0;
  height: 100%;
  background: linear-gradient(to top, var(--fromColor) 90%, var(--toColor) 100%), linear-gradient(to bottom, var(--fromColor) 90%, var(--toColor) 100%);
}