<i
  [ngClass]="{ 'sp-invisible': !leftScrollIndicatorVisible }"
  class="mdi-arrow-left-circle mdi sp-scroll-icon sp-scroll-icon-left sp-clickable"
  (click)="onScrollLeftClick()"></i>
<div #breadcrumbsContainer class="sp-breadcrumbs sp-scrollbar-hidden" [ngClass]="containerClass" (scroll)="onContainerScroll()" (wheel)="onContainerWheel($event)">
  <div *ngFor="let breadcrumb of model;let isLast = last;" (click)="onClick(breadcrumb)" class="sp-breadcrumb">
    <div class="sp-breadcrumb-content sp-bg-09 sp-clickable" [title]="breadcrumb.tooltip">
      <!-- Icon -->
      <i *ngIf="breadcrumb.icon" [ngClass]="breadcrumb.icon"></i>
      <!-- Caption -->
      <span *ngIf="breadcrumb.caption" class="sp-text-large">{{breadcrumb.caption}}</span>
      <span *ngIf="!breadcrumb.caption" class="sp-text-large">{{breadcrumb.criteriaItem.columnValues[0].caption}}</span>
      <!-- Multiple info -->
      <span *ngIf="breadcrumb.criteriaItem.columnValues.length > 1" class="sp-text-small sp-text-super-v">&nbsp;+{{breadcrumb.criteriaItem.columnValues.length - 1}}</span>
      <!-- Close icon -->
      <span *ngIf="isLast" class="sp-text-large">&nbsp;&nbsp;</span>
      <i *ngIf="isLast" class="mdi-close mdi sp-color-on-bg-low sp-text-medium"></i>
    </div>
    <!-- Caret -->
    <i *ngIf="!isLast" class="mdi-chevron-right mdi"></i>
  </div>
</div>
<i
[ngClass]="{ 'sp-invisible': !rightScrollIndicatorVisible }"
class="mdi-arrow-right-circle mdi sp-scroll-icon sp-scroll-icon-right sp-clickable"
(click)="onScrollRightClick()"></i>
