@import "../../../../styles-variables";

:host {
  width: 100%;
  position: relative;
}

.sp-breadcrumbs {
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
}

.sp-bc-icon-null {
  margin-left: 0px;
  margin-right: 0px;
}

.sp-bc-icon-right {
  margin-left: 0px;
  margin-right: 20px;
}

.sp-bc-icon-left {
  margin-left: 20px;
  margin-right: 0px;
}

.sp-bc-icon-both {
  margin-left: 20px;
  margin-right: 20px;
}

.sp-breadcrumb {
  flex: 0 0 auto; // Equivalent to flex:none. Not allowed to shrink in overflow.
}

.sp-breadcrumb-content {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.sp-scroll-icon {
  position: absolute;
  top: 6px;
  color: $sp-color-primary;
}

.sp-scroll-icon-right {
  right: 0;
}

.sp-scroll-icon-left {
  left: 0;
}
