@import './styles-variables';
@import './assets/fonts/faces';

// MAIN *******************************************************************************************
body {
    /* height: 100%; /* This is needed so child divs can expand 100% when they're empty */
    background-attachment: fixed; /* So the image background doesn't move when scrolling */
    margin: 0; /* It looks the browser gives 8px by default */
}

/* Z-Index & Backgrounds
    Component           Z-Index     Background
    ------------------  ----------- ----------
    Breadcrumb          N/A         sp-bg-09
    Sidebar             sp-z-9      sp-bg-06
    Loading View        sp-z-8      N/A
    Context Menu        sp-z-7      sp-bg-05
    NavBar              sp-z-5      sp-bg-04
    Player Overlay      sp-z-6      sp-bg-04
    View Selected Item  N/A         sp-bg-04
    View Modal          sp-z-3      N/A
    List Image Backdrop sp-z-1      N/A
    View Container      N/A         sp-bg-01
    Body                N/A         sp-bg
    
*/
// Z-INDEX ****************************************************************************************
// The bigger the class number the bigger the z index
.sp-z-1 {
    z-index: 100 !important; /* List image backdrop */
}

.sp-z-2 {
    z-index: 200 !important;
}

.sp-z-3 {
    z-index: 300 !important; /* View Modal */
}

.sp-z-4 {
    z-index: 400 !important;
}

.sp-z-5 {
    z-index: 500 !important; /* Nav bar */
}

.sp-z-6 {
    z-index: 600 !important; /* Player overlay */
}

.sp-z-7 {
    z-index: 700 !important; /* Icon context menu */
}

.sp-z-8 {
    z-index: 800 !important; /* Loading view */
}

.sp-z-9 {
    z-index: 900 !important; /* Sidebar */
}

// BACKGROUND *************************************************************************************
// Hack: blend the main bg color and the overlay color by using a solid gradient and an actual color
// The bigger the class number the lighter the color; the bg color is always the same, but the overlay
// color increases opacity.
// This is the solid gradient:
// background-image: linear-gradient(0, $sp-color-background, $sp-color-background);
// This is the setting that blends two colors to get a solid gradient:
// background-blend-mode: overlay;
// This is the overlay color:
// background-color: $sp-color-overlay-01;
// This is the text color:
// color: $sp-color-on-background-high;
.sp-bg {
    background-color: $sp-color-background;
    color: $sp-color-on-background-high;
}

.sp-bg-01 {
    background-image: linear-gradient(0, $sp-color-background, $sp-color-background);
    background-color: $sp-color-overlay-01;
    background-blend-mode: overlay;
    color: $sp-color-on-background-high;
}

.sp-bg-02 {
    background-image: linear-gradient(0, $sp-color-background, $sp-color-background);
    background-color: $sp-color-overlay-02;
    background-blend-mode: overlay;
    color: $sp-color-on-background-high;
}

.sp-bg-03 {
    background-image: linear-gradient(0, $sp-color-background, $sp-color-background);
    background-color: $sp-color-overlay-03;
    background-blend-mode: overlay;
    color: $sp-color-on-background-high;
}

.sp-bg-04 {
    background-image: linear-gradient(0, $sp-color-background, $sp-color-background);
    background-color: $sp-color-overlay-04;
    background-blend-mode: overlay;
    color: $sp-color-on-background-high;
}

.sp-bg-05 {
    background-image: linear-gradient(0, $sp-color-background, $sp-color-background);
    background-color: $sp-color-overlay-05;
    background-blend-mode: overlay;
    color: $sp-color-on-background-high;
}

.sp-bg-06 {
    background-image: linear-gradient(0, $sp-color-background, $sp-color-background);
    background-color: $sp-color-overlay-06;
    background-blend-mode: overlay;
    color: $sp-color-on-background-high;
}

.sp-bg-07 {
    background-image: linear-gradient(0, $sp-color-background, $sp-color-background);
    background-color: $sp-color-overlay-07;
    background-blend-mode: overlay;
    color: $sp-color-on-background-high;
}

.sp-bg-08 {
    background-image: linear-gradient(0, $sp-color-background, $sp-color-background);
    background-color: $sp-color-overlay-08;
    background-blend-mode: overlay;
    color: $sp-color-on-background-high;
}

.sp-bg-09 {
    background-image: linear-gradient(0, $sp-color-background, $sp-color-background);
    background-color: $sp-color-overlay-09;
    background-blend-mode: overlay;
    color: $sp-color-on-background-high;
}

.sp-bg-primary {
    background-color: $sp-color-primary;
    color: $sp-color-on-primary;
}

.sp-bg-primary-variant {
    background-color: $sp-color-primary-variant;
    color: $sp-color-on-primary-variant;
}

.sp-bg-secondary {
    background-color: $sp-color-secondary;
    color: $sp-color-on-secondary;
}

// COLORS *****************************************************************************************
.sp-color-on-bg-high {
    color: $sp-color-on-background-high;
}

.sp-color-on-bg-low {
    color: $sp-color-on-background-low;
}

.sp-color-overlay-01 {
    color: $sp-color-overlay-01;
}

.sp-color-overlay-02 {
    color: $sp-color-overlay-02;
}

.sp-color-primary {
    color: $sp-color-primary;
}

.sp-color-heart {
    color: $sp-color-red;
}

.sp-color-rating {
    color: $sp-color-orange !important;
}

.sp-color-lyric {
    color: $sp-color-blue-light !important;
}

.sp-color-320 {
    color: $sp-color-pink !important;
}

.sp-color-vbr {
    color: $sp-color-purple !important;
}

.sp-color-mood {
    color: $sp-color-yellow;
}

.sp-color-playlist {
    color: $sp-color-green;
}

.sp-color-playing {
    color: $sp-color-cyan;
}

.sp-color-success {
    color: $sp-color-green;
}

.sp-color-error {
    color: $sp-color-red;
}

.sp-color-warning {
    color: $sp-color-yellow;
}

.sp-color-info {
    color: $sp-color-blue;
}

.sp-color-trace {
    color: $sp-color-purple;
}

.sp-color-debug {
    color: $sp-color-orange;
}

.sp-color-normal-text {
    color: $sp-color-white;
}

.sp-color-orange {
    color: $sp-color-orange;
}

.sp-color-yellow {
    color: $sp-color-yellow;
}

.sp-color-green {
    color: $sp-color-green;
}

.sp-color-muted {
    color: $sp-color-muted;
}

.sp-border-color-red {
    border-color: $sp-color-red;
}

.sp-bg-transparent {
    background-color: transparent;
}

.sp-bg-dim-black-low {
    background-color: $sp-dim-black-low !important;
}

.sp-bg-dim-black-mid {
    background-color: $sp-dim-black-mid !important;
}

.sp-bg-dim-black-high, .sp-selected-item {
    background-color: $sp-dim-black-high !important;
}

// TABLES *****************************************************************************************
.sp-table-list {
    border-spacing: 0;
    font-family: $sp-font-family-regular;
    & > th {
        border-bottom: 1px solid $sp-color-on-background-high;
        padding: 4px;
    }
    & > tr {
        & > td {
            border-top: 1px solid $sp-color-on-background-separator;
            padding: 4px;    
        }
    }
}

.sp-table {
    border-spacing: 0;
}

.sp-table-no-padding {
    td, th {
        padding: 0;
    }
}

.sp-table-eye-dropper {
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    td, th {
        padding: 0;
        border: 1px solid $sp-color-gray;
    }
    td[data-x="5"][data-y="4"] {
        border-bottom-color: $sp-color-red;
    }
    td[data-x="4"][data-y="5"] {
        border-right-color: $sp-color-red;
    }
    td[data-x="6"][data-y="5"] {
        border-left-color: $sp-color-red;
    }
    td[data-x="5"][data-y="4"] {
        border-top-color: $sp-color-red;
    }
    td[data-x="5"][data-y="5"] {
        border-color: $sp-color-red;
    }
}

// ANIMATION **************************************************************************************
// Timings
// ease (default): slow start/fast speed/slow end
// linear: same speed start to end
// ease-in: slow start
// ease-out: slow end
// ease-in-out: slow start/normal speed/slow end
// cubic-bezier(n,n,n,n): custom

/* Applies animation to any transform with duration of 0.3 secs */
.sp-ease-transform {
    transition: transform 0.3s ease-in-out;
}

/* Applies animation to any opacity change with duration of 1 sec. You can use it combined with sp-transparent. */
.sp-ease-opacity-01 {
    transition: opacity 1s ease-out;
}

/* Applies animation to any opacity change with duration of 3 sec. You can use it combined with sp-transparent. */
.sp-ease-opacity-03 {
    transition: opacity 3s ease-out;
}

/* Applies animation to any color change with duration of 2 secs */
.sp-ease-color-1 {
    transition: color 1s ease-in-out;
}

.sp-ease-color-2 {
    transition: color 2s ease-in-out;
}

/* Applies animation to any color change with duration of 2 secs.
A longer duration allows to properly see the transition in the whole page. */
.sp-ease-background-color-1 {
    transition: background-color 1s ease-in-out;
}

.sp-ease-background-color-2 {
    transition: background-color 2s ease-in-out;
}

/* Applies animation to any height change with duration of 0.5 secs */
.sp-ease-height {
    transition: height 0.5s ease-out;
}

// SIZE ********************************************************************************************
.sp-full-height {
    height: 100%;
}

.sp-no-height {
    height: 0;
}

.sp-full-width {
    width: 100%;
}

.sp-max-width {
    /* This is the max width of the app area; the min is 360 */
    max-width: $sp-content-max-width;
}

.sp-nav-bar-height {
    height: $sp-navbar-height;
    max-height: $sp-navbar-height;
}

.sp-nav-bar-placeholder-height {
    height: $sp-navbar-height;
}

.sp-player-small-height {
    height: $sp-player-height-sm;
}

// FONT TYPE **************************************************************************************
.sp-font-family-regular {
    font-family: $sp-font-family-regular;
}

.sp-font-family-narrow {
    font-family: $sp-font-family-narrow;
}

.sp-font-family-digital {
    font-family: $sp-font-family-digital;
}

.sp-font-family-small-caps {
    font-family: $sp-font-family-small-caps;
}

// TEXT SIZE  *************************************************************************************
// Fixed sizes are not changed by the media query
.sp-text-tiny {
    font-size: 0.6em;
}

.sp-text-small {
    font-size: 0.8em;
}

.sp-text-medium {
    font-size: 1em;
}

.sp-text-medium-fixed {
    font-size: 1em;
}

.sp-text-large {
    font-size: 1.2em;
}

.sp-text-xlarge {
    font-size: 1.5em;
}

.sp-text-xlarge-fixed {
    font-size: 1.5em;
}

.sp-text-big {
    font-size: 2em;
}

.sp-text-big-fixed {
    font-size: 2em;
}

.sp-text-huge {
    font-size: 2.5em;
}

.sp-text-huge-fixed {
    font-size: 2.5em;
}

.sp-text-jumbo {
    font-size: 3em;
}

.sp-text-giant {
    font-size: 4em;
}

.sp-auto-line-height {
    line-height: 1.5;
}

@media only screen and (max-width:$sp-media-max-width) {
    .sp-text-tiny {
        font-size: 0.5em;
    }
    .sp-text-small {
        font-size: 0.6em;
    }
    .sp-text-medium {
        font-size: 0.8em;
    }
    .sp-text-large {
        font-size: 1em;
    }
    .sp-text-xlarge {
        font-size: 1.2em;
    }
    .sp-text-big {
        font-size: 1.5em;
    }
    .sp-text-huge {
        font-size: 2em;
    }
    .sp-auto-line-height {
        line-height: 1.2;
    }
}

// TEXT EFFECTS ///////////////////////////////////////////////////////////////////////////////////

/* If this text is inside a table, the table requires the table-layout:fixed in order to make this work.
 * This is usually applied to the Table TD element.
 * It uses a variable called --ellipsis-color to set the color of the ellipsis which can be only set
 * in the same class where the overflow ellipsis setting is located.
*/
.sp-text-overflow-ellipsis {
    white-space: nowrap; /* This prevents the text create a new line in a white space */
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--ellipsis-color);
}

.sp-table-support-overflow-ellipsis {
    table-layout: fixed;
}

.sp-text-center {
    text-align: center !important;
    vertical-align: middle !important;
}

.sp-text-center-v {
    vertical-align: middle !important;
}

.sp-text-super-v {
    vertical-align: super;
}

.sp-text-sub-v {
    vertical-align: sub;
}

.sp-text-bold {
    font-weight: bold;
}

.sp-no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

// Components *************************************************************************************

input[type="text"], input[type="search"], textarea {
    background-color: $sp-color-background;
    color: $sp-color-on-background-high;
    width: 100%;
}

// CHIPS ******************************************************************************************
.sp-chip-container {
    display: flex;
    flex-wrap: wrap;
}

.sp-chip-item {
    margin: 5px;
    padding: 4px 10px;
    border-radius: 5px;
}

.sp-chip-text {
    display: inline-block;
    height: 20px;
}

// Misc *******************************************************************************************
.sp-cursor-pointer, .sp-clickable {
    cursor: pointer;
}

.sp-cursor-drag {
    cursor: all-scroll;
}

.sp-no-pointer-events {
    pointer-events: none;
}

.sp-float-right {
    float: right;
}

.sp-float-left {
    float: left;
}

// Hides the element without changing its layout rendering
.sp-invisible {
    visibility: hidden;
}

// Turns off the layout of the element, so it is not rendered
.sp-no-display {
    display: none;
}

// Causes the element to be transparent but user can still interact with it
.sp-transparent {
    opacity: 0;
}

.sp-vertical-align-inherit {
    vertical-align: inherit;
}

.sp-flex {
    display: flex;
}

.sp-no-outline {
    outline: 0;
}

.sp-border-collapse {
    border-collapse: collapse;
}

/*
This is applied directly to the element that needs to be centered.
The transform has a bug on which it blurs text, so it is preferred to use the sp-flex-center.
https://github.com/yapplabs/ember-modal-dialog/issues/238
*/
.sp-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* This is applied to the parent of the elements that need to be centered. */
.sp-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sp-transparent {
    opacity: 0;
}

/* This hides the scroll bars but still allows to scroll. */
.sp-scrollbar-hidden {
    scrollbar-width: none; /* Firefox 64 */
    -ms-overflow-style: none; /* IE 10+ */
    &::-webkit-scrollbar { /** WebKit (Safari, Chrome) */
        display: none;
    }
}

/* This completely disables scrolling in the X axis. */
.sp-scroll-x-disabled {
    overflow-x: hidden;
}

.sp-no-padding {
    padding: 0;
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

.sp-ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: $sp-color-on-background-medium;
}

@keyframes fadeInOut {
	0% {
        opacity: 1;
    }
	100% {
        opacity: 0;
    }
}

.sp-fade-in-out {
    animation: fadeInOut 700ms cubic-bezier(.78,.01,.4,.98) infinite alternate;
}

.sp-scale-up {
    transform: scale(1.1);
}

.sp-scale-down {
    transform: scale(0.9);
}

// Browser overrides //////////////////////////////////////////////////////////////////////////////

// Get rid of the default 'x' button (added by chrome) in search inputs
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

// CDK overrides **********************************************************************************
// Problems when scrolling.
// .cdk-virtual-scroll-content-wrapper {
//     display: contents; // Allow the context menu to show.
// }