@import "./styles-variables";

.p-slidemenu {
    padding: 0 0 !important;
}

/*
  Applying sp-bg-05 styles to the slide menu.
  Applying important since these value are overridden after the code is compiled by the theme mechanism.
*/
.p-slidemenu.p-slidemenu-overlay {
    background-image: linear-gradient(0, $sp-color-background, $sp-color-background) !important;
    background-color: $sp-color-overlay-05 !important;
    background-blend-mode: overlay;
    color: $sp-color-on-background-high;
    font-family: $sp-font-family-regular;
    border: 1px solid $sp-color-on-background-low !important;
}

.p-menu-separator {
    border: 1px solid $sp-color-on-background-separator !important;
}

.p-dialog-header {
    padding: 0px 5px !important;
    .pi-times {
        font-size: 1.8em !important;
    }
    .p-dialog-title {
        font-size: 1em !important;
        font-family: $sp-font-family-narrow !important;
    }
}

.p-dialog-content {
    padding: 0 0 !important;
}

p-dynamicdialog .p-component-overlay {
    z-index: 9890 !important; /* Just underneath the org loading view */
}

// .ui-accordion-header, .ui-accordion-header a {
//     outline: 0;
// }

.p-accordion-tab {
    margin-top: 2px !important;
}

.p-accordion-content {
    background-color: transparent !important;
    padding: 5px !important;
}

.sp-selected-menu-item {
    background-color: $sp-color-gray !important;
    .p-menuitem-link {
        .p-menuitem-text {
            color: $sp-color-white !important;
        }
    }
}

.p-menuitem .p-menuitem-link {
    font-family: $sp-font-family-regular !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
    // If top/bottom padding change the menuService.setSlideMenuHeight needs to be updated
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    font-size: 14px !important;
}

.p-menuitem .p-menuitem-icon {
    font-size: 16px;
}