/*
 Dark Theme Design
 - Based on:
   - https://m2.material.io/design/color/dark-theme.html
   - https://m2.material.io/design/environment/elevation.html
 - The higher a surface's elevation (raising it closer to an implied light source),
   the lighter that surface becomes.
 - Elevation level / White overlay transparency
   00- 00dp / 00%
   01- 01dp / 05%
   02- 02dp / 07%
   03- 03dp / 08%
   04- 04dp / 09% / Navbar
   05- 06dp / 11% / Action buttons
   06- 08dp / 12%
   07- 12dp / 14%
   08- 16dp / 15% / Sidebars
   09- 24dp / 16% / Dialogs, Modals, Toasts
 - When light text appears on dark backgrounds it should use the following opacity levels:
   - High-emphasis text has an opacity of 87%
   - Medium-emphasis text and hint text have opacities of 60%
   - Disabled text has an opacity of 38%
 - To ensure proper visibility and color contrast accessibility, the opacity value of overlays
   should be adjusted for every combination of text on a surface.
   - Enabled: no overlay
   - Hover: 4% overlay
   - Focus: 12% overlay
   - Selected: 8% overlay
   - Activated: 12% overlay
   - Pressed: 12% overlay
   - Dragged: 8% overlay
 */

/* Opacity by emphasis */
$sp-opacity-high: 0.87;
$sp-opacity-medium: 0.60;
$sp-opacity-low: 0.38;

/* Separator opacity */
$sp-opacity-separator: 0.1;

/* Opacity by elevation */
$sp-opacity-00: 0;
$sp-opacity-01: 0.05;
$sp-opacity-02: 0.07;
$sp-opacity-03: 0.08;
$sp-opacity-04: 0.09;
$sp-opacity-05: 0.11;
$sp-opacity-06: 0.12;
$sp-opacity-07: 0.14;
$sp-opacity-08: 0.15;
$sp-opacity-09: 0.16;

/* Opacity by status */
$sp-opacity-hover: 0.04;
$sp-opacity-selected: 0.08;
$sp-opacity-focus: 0.12;
$sp-opacity-activated: 0.12;

/* COLORS */
$sp-color-blue: #2b4eff; // lyric
$sp-color-blue-light: #2a9fd6;
$sp-color-green: #77b300; // live
$sp-color-purple: #9d50c4; // vbr
$sp-color-pink: #e83e8c; // 320
$sp-color-orange: #ff8800; // rating
$sp-color-yellow: #e9ff25;
$sp-color-red: #cc0000; // heart
$sp-color-cyan: #00bcd4;
$sp-color-cyan2: #007C7C;
$sp-color-gray-light: #999;
$sp-color-gray: #555;
$sp-color-muted: #6c757d;
$sp-color-gray-dark: #121212;
$sp-color-white: #fff;
$sp-color-black: #060606;
$sp-color-gray-super-light: #e9ecef;
// Other colors to choose from
$sp-color-01: #A81104; // red
$sp-color-02: #AD1457; // pink
$sp-color-03: #6A1B9A; // purple
$sp-color-04: #4527A0; // purple 2
$sp-color-05: #283593; // dark blue
$sp-color-06: #0F52C1; // light blue
$sp-color-07: #0277BD; // light blue 2
$sp-color-08: #006064; // dark cyan
$sp-color-09: #00695C; // dark cyan 2
$sp-color-10: #006A25; // dark green
$sp-color-11: #558B2F; // light green
$sp-color-12: #E65100; // orange
$sp-color-13: #D84315; // orange 2
$sp-color-13: #424242; // grey
// Google Keep Colors
$sp-color-google-brown: #442f19;
$sp-color-google-red: #5c2b29;
$sp-color-google-orange: #614a19;
$sp-color-google-yellow: #635d19;
$sp-color-google-green: #345920;
$sp-color-google-teal: #16504b;
$sp-color-google-blue: #2d555e;
$sp-color-google-dark-blue: #1e3a5f;
$sp-color-google-purple: #42275e;
$sp-color-google-pink: #5b2245;
$sp-color-google-pink: #5b2245;
$sp-color-google-grey: #3c3f43;



/* THEME */
// Overlay: a color with certain opacity.
// Overlay 0 is practically applying no color since opacity is 0.
// Overlay 9 is applying the color with the max opacity allowed.
$sp-color-overlay: $sp-color-white;
$sp-color-overlay-hover: rgba($sp-color-overlay, $sp-opacity-hover);
$sp-color-overlay-01: rgba($sp-color-overlay, $sp-opacity-01);
$sp-color-overlay-02: rgba($sp-color-overlay, $sp-opacity-02);
$sp-color-overlay-03: rgba($sp-color-overlay, $sp-opacity-03);
$sp-color-overlay-04: rgba($sp-color-overlay, $sp-opacity-04);
$sp-color-overlay-05: rgba($sp-color-overlay, $sp-opacity-05);
$sp-color-overlay-06: rgba($sp-color-overlay, $sp-opacity-06);
$sp-color-overlay-07: rgba($sp-color-overlay, $sp-opacity-07);
$sp-color-overlay-08: rgba($sp-color-overlay, $sp-opacity-08);
$sp-color-overlay-09: rgba($sp-color-overlay, $sp-opacity-09);
// Background
$sp-color-background: $sp-color-black;
$sp-color-on-background: $sp-color-white;
$sp-color-on-background-high: rgba($sp-color-white, $sp-opacity-high);
$sp-color-on-background-medium: rgba($sp-color-white, $sp-opacity-medium);
$sp-color-on-background-low: rgba($sp-color-white, $sp-opacity-low);
$sp-color-on-background-separator: rgba($sp-color-white, $sp-opacity-separator);
// Primary
$sp-color-primary: $sp-color-cyan;
$sp-color-on-primary: $sp-color-gray-dark;
// Primary Variant
$sp-color-primary-variant: $sp-color-cyan2;
$sp-color-on-primary-variant: $sp-color-black;
// Secondary
$sp-color-secondary: $sp-color-blue;
$sp-color-on-secondary: $sp-color-black;
// Error
$sp-color-error: $sp-color-red;
$sp-color-on-error: $sp-color-black;
// Alerts
$sp-color-error: $sp-color-red;
$sp-color-warning: $sp-color-yellow;
$sp-color-success: $sp-color-green;
$sp-color-info: $sp-color-blue;

/* DIMS */
$sp-dim-black-low: rgba(0,0,0,0.3);
$sp-dim-black-mid: rgba(0,0,0,0.6);
$sp-dim-black-high: rgba(0,0,0,0.8);

/* SIZE */
$sp-media-max-width: 767px;

$sp-sidebar-width: 250px;
$sp-navbar-height: 42px;
$sp-content-max-width: 1000px;

$sp-card-img-size-md: 200px;
$sp-card-img-size-sm: 150px;

$sp-player-height-sm: 50px;

/* FONTS */
$sp-font-family-regular: 'Saira Semi Condensed', sans-serif;
$sp-font-family-narrow: 'Saira Extra Condensed', sans-serif;
$sp-font-family-digital: 'Digital-7Mono';
$sp-font-family-small-caps: 'Anoxic SC Med';