<div class="sp-full-height sp-full-width sp-side-bar-host-container">
  <table class="sp-full-height sp-full-width sp-table sp-table-no-padding sp-table-support-overflow-ellipsis">
    <!-- Title -->
    <tr class="sp-side-bar-title-row"><td class="sp-side-bar-title-col">
      <div class="sp-side-bar-titles">
        <div class="sp-side-bar-title sp-text-xlarge">
          <span *ngIf="model.title" class="sp-text-overflow-ellipsis">
            <i *ngIf="model.titleIcon" [ngClass]="model.titleIcon">&nbsp;</i>{{model.title}}</span>
        </div>
        <ng-container *ngIf="model.subTitle">
          <div class="sp-side-bar-title sp-text-large">
            <span class="sp-text-overflow-ellipsis">
              <i *ngIf="model.subTitleIcon" [ngClass]="model.subTitleIcon">&nbsp;</i>{{model.subTitle}}</span>
          </div>
        </ng-container>
      </div>
    </td></tr>
    <!-- Content -->
    <tr><td
    class="sp-side-bar-content-col sp-scrollbar-hidden sp-full-width"
    [ngClass]="{ 'sp-side-bar-content-col-height-with-subTitle': model.subTitle, 'sp-side-bar-content-col-height-without-subTitle': !model.subTitle }">
      <ng-template #spSidebarContentHost></ng-template>
    </td></tr>
    <!-- Toolbar -->
    <tr class="sp-side-bar-toolbar-row"><td class="sp-side-bar-toolbar-col">
      <div class="sp-side-bar-toolbar">
        <ng-container *ngIf="model.actions">
          <div *ngFor="let iconAction of model.actions" (click)="onActionClick(iconAction)" class="sp-chip-item sp-clickable sp-bg-09">
            <span><i *ngIf="iconAction.icon" [ngClass]="iconAction.icon">&nbsp;</i>{{iconAction.caption}}</span>
          </div>
        </ng-container>
        <div (click)="onCancelClick()" class="sp-chip-item sp-clickable sp-bg-09">
          <span *ngIf="model.onOk && !model.okHidden">Cancel</span>
          <span *ngIf="!model.onOk || model.okHidden">Close</span>
        </div>
        <div *ngIf="model.onOk && !model.okHidden" (click)="onOkClick()" class="sp-chip-item sp-clickable sp-bg-primary">
          <span>OK</span>
        </div>
      </div>
    </td></tr>
  </table>
</div>
