<div id="spNavbar" [ngClass]="{ 'sp-collapsed': !model.show }" class="sp-z-5 sp-bg-04 sp-max-width sp-ease-transform">
  <!-- Container -->
  <table class="sp-full-width sp-nav-bar-height sp-nav-bar-shadow sp-border-collapse"><tr>
      <!-- Outer Left -->
      <td class="sp-td-icon">
          <i *ngIf="outerIcons.left" [ngClass]="outerIcons.left.icon" class="sp-clickable sp-text-xlarge-fixed" (click)="onIconClick(outerIcons.left)"></i>
          <!-- Hamburger button -->
          <i *ngIf="!outerIcons.left" class="mdi-menu mdi sp-clickable sp-text-xlarge-fixed" (click)="onHamburgerClick()"></i>
      </td>
      <!-- Middle content -->
      <td class="sp-td-center">
          <table class="sp-full-width sp-nav-bar-height"><tr>
              <!-- Inner left icon -->
              <td *ngIf="model.leftIcon" [ngClass]="{ 'sp-clickable' : model.leftIcon.action }" class="sp-td-inner-icon">
                  <i
                  [ngClass]="model.leftIcon.icon"
                  class="sp-text-xlarge-fixed" (click)="onIconClick(model.leftIcon)"></i>
                  <!-- Sub icon -->
                  <i
                  *ngIf="model.leftSubIcon"
                  [ngClass]="model.leftSubIcon"
                  class="sp-left-sub-icon sp-text-small-fixed"></i>
              </td>
              <!-- Dynamic content -->
              <td>
                  <!-- Title -->
                  <span *ngIf="model.mode === NavbarDisplayMode.Title && model.title" class="sp-text-xlarge-fixed">{{model.title}}</span>
                  <!-- We need to make sure this element is rendered (as invisible) even if it is not needed. -->
                  <div
                  class="sp-full-width"
                  [ngClass]="{ 'sp-no-display': model.mode !== NavbarDisplayMode.Component, 'sp-flex': model.mode === NavbarDisplayMode.Component }">
                      <ng-template #spNavbarContentHost></ng-template>
                  </div>
                  <!-- Search -->
                  <div *ngIf="model.mode === NavbarDisplayMode.Search" class="sp-flex">
                    <input #spNavbarSearchBox class="sp-nav-bar-search-input" [(ngModel)]="model.searchTerm" (keyup.enter)="onSearchEnter()" type="search" placeholder="Search" />
                    <span (click)="onSearchClearClick()" [hidden]="!model.searchTerm" class="sp-nav-bar-search-clear-icon sp-opacity-50 sp-cursor-pointer ">
                      <i class="mdi-close mdi"></i>
                    </span>
                  </div>
              </td>
              <!-- Inner right icon -->
              <ng-container *ngIf="model.rightIcons"><ng-container *ngFor="let rightIcon of model.rightIcons">
                <td *ngIf="!rightIcon.hidden" [ngClass]="{ 'sp-clickable' : rightIcon.action }" class="sp-td-inner-icon">
                  <i
                  [ngClass]="rightIcon.off ? rightIcon.offIcon : rightIcon.icon"
                  class="sp-text-xlarge-fixed" (click)="onIconClick(rightIcon)"></i>
                </td>
              </ng-container></ng-container>
          </tr></table>
      </td>
      <!-- Outer Right -->
      <td class="sp-td-icon">
          <i *ngIf="outerIcons.right" [ngClass]="outerIcons.right.icon" class="sp-clickable sp-text-xlarge-fixed" (click)="onIconClick(outerIcons.right)"></i>
          <!-- Ellipsis button -->
          <sp-icon-menu *ngIf="!outerIcons.right" [items]="model.menuList" class="sp-text-xlarge-fixed"></sp-icon-menu>
      </td>
  </tr></table>
  <!-- Toast (the ease class timing has to match the hideToast method in the service) -->
  <div *ngIf="model.toastMessage" [ngClass]="{ 'sp-toast-visible': model.toastVisible }" class="sp-nav-toast-container sp-full-width">
    <div class="sp-nav-toast">
      <span [textContent]="model.toastMessage" class="sp-text-medium"></span>
    </div>
  </div>
</div>
<!-- This placeholder has the same height as the actual nav bar
    and it will make the starting point of the outlet content be below the nav bar -->
<div *ngIf="!model.discardPlaceholder" class="sp-nav-bar-placeholder-height"></div>