@import "../../../../styles-variables";

#spNavbar {
    /* With a fixed position stick it to the top and sides */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* This will center a fixed element */
    margin: auto;

    &.sp-collapsed {
        transform: translateY(-100%);
    }
}

#spNavbarContent {
    display: flex;
}

.sp-nav-toast-container {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    // Very slow start, continue slow, end quickly
    // Move opacity from 0 to 0, during the 0-70% of the time
    // Move opacity from 0 to 1, during the 70%-100% of the time
    transition: opacity 6s cubic-bezier(.7, 0, 1, 1);
    opacity: 0;
    &.sp-toast-visible {
        opacity: .8;
    }
    // Since this is a transparent placeholder allow the click to pass through
    pointer-events: none;
}

.sp-nav-toast {
    background-color: $sp-color-primary;
    color: $sp-color-on-primary;
    padding: 5px;
    border-radius: 5px;
}

.sp-nav-bar-shadow {
    // box-shadow: [h-offset v-offset blur color]
    box-shadow: 0px 10px 15px $sp-dim-black-high;
}

table {
    td {
        padding: 0; // For some reason the icon menu td was getting a padding top and bottom of 1px
    }
}

.sp-td-icon {
    width: $sp-navbar-height;
    text-align: center;
}

.sp-td-inner-icon {
    width: 38px;
    text-align: center;
    position: relative;
}

.sp-left-sub-icon {
    position: absolute;
    left: 24px;
    top: 22px;
}

.sp-td-center {
    border-left: 1px solid $sp-color-on-background-separator;
    border-right: 1px solid $sp-color-on-background-separator;
}

.sp-nav-bar-search-input {
    height: 34px;
    border-radius: 0.25rem;
    border: 1px solid $sp-color-on-background-low;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}

.sp-nav-bar-search-clear-icon {
    position: absolute;
    right: 90px;
    top: 6px;
    color: $sp-color-on-background-high;
    width: 24px;
    text-align: center;
    font-size: 20px;
}